<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrCardOrderTransferMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrCardOrderTransfer">
        <id column="a.id" property="id" />
        <result column="a.card_id" property="cardId" />
        <result column="a.shop_id" property="shopId" />
        <result column="a.transfer_user_name" property="transferUserName" />
        <result column="a.transfer_client_id" property="transferClientId" />
        <result column="a.catcher_client_id" property="catcherClientId" />
        <result column="a.total_price" property="totalPrice" />
        <result column="a.personnel_id" property="personnelId" />
        <result column="a.flag" property="flag" />
        <result column="a.type" property="type" />
        <result column="a.is_using" property="isUsing" />
        <result column="a.create_time" property="createTime" />
        <result column="a.update_time" property="updateTime" />
        <result column="a.create_user_name" property="createUserName" />
        <result column="a.update_user_name" property="updateUserName" />
        <result column="a.CustomerCode" property="CustomerCode" />
        <result column="a.create_user_id" property="createUserId" />
        <result column="a.update_user_id" property="updateUserId" />
        <result column="a.transfer_status" property="transferStatus" />
        <result column="a.status" property="status" />
        <result column="a.audit_status" property="auditStatus" />
        <result column="a.status_user_id" property="statusUserId" />
        <result column="a.audit_user_id" property="auditUserId" />
        <result column="a.transfer_user_phone" property="transferUserPhone" />
        <result column="a.catcher_client_name" property="catcherClientName" />
        <result column="a.catcher_client_phone" property="catcherClientPhone" />
        <result column="a.transfer_price" property="transferPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.card_id AS cardId,
        a.shop_id AS shopId,
        a.transfer_user_name AS transferUserName,
        a.transfer_client_id AS transferClientId,
        a.catcher_client_id AS catcherClientId,
        a.total_price AS totalPrice,
        a.personnel_id AS personnelId,
        a.flag,
        a.type,
        a.is_using AS isUsing,
        a.create_time AS createTime,
        a.update_time AS updateTime,
        a.create_user_name AS createUserName,
        a.update_user_name AS updateUserName,
        a.CustomerCode,
        a.create_user_id AS createUserId,
        a.update_user_id AS updateUserId,
        a.transfer_status AS transferStatus,
        a.status, audit_status AS auditStatus,
        a.status_user_id AS statusUserId,
        a.audit_user_id AS auditUserId,
        a.transfer_user_phone AS transferUserPhone,
        a.catcher_client_name AS catcherClientName,
        a.catcher_client_phone AS catcherClientPhone,
        a.transfer_price AS transferPrice,
        a.id
    </sql>


    <select id="quereyTransferList" resultType="java.util.Map">
        SELECT
         (SELECT p.RelName FROM PersonnelInfo p WHERE a.personnel_id = p.id) personnelName,
         (SELECT STUFF(
                 (SELECT ','+ltrim(cast(
                              CASE
                                 WHEN pay_mode =1 THEN '支付宝'
                                 WHEN pay_mode =2  THEN '刷卡'
                                 WHEN pay_mode =3  THEN '微信'
                                 WHEN pay_mode =4 THEN '现金'
                                 WHEN pay_mode =5 THEN '转账'
                                 WHEN pay_mode =6 THEN '花呗'
                                 WHEN pay_mode =7 THEN '其他'
                              ELSE '未设置'
                   END as varchar(10))+':'+cast(pay_price as varchar(10)))
                   FROM fr_card_order_pay_mode WHERE order_id = a.id and order_type ='9' FOR XML PATH('')), 1, 1, '') AS keyword
        FROM fr_card_order_pay_mode t
        WHERE t.order_id = a.id
        GROUP BY t.order_id, t.order_type ) paymentMoney,
          <include refid="Base_Column_List" />
        FROM  fr_card_order_transfer a
        WHERE a.is_using = 1
        AND a.CustomerCode = #{CustomerCode}
        AND a.card_id = #{cardId}
    </select>

</mapper>
