<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrCardTypeSplitSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrCardTypeSplitSet">
        <id column="id" property="id" />
        <result column="card_type_id" property="cardTypeId" />
        <result column="first_price" property="firstPrice" />
        <result column="split_num" property="splitNum" />
        <result column="split_type" property="splitType" />
        <result column="split_content" property="splitContent" />
        <result column="flag" property="flag" />
        <result column="type" property="type" />
        <result column="is_using" property="isUsing" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_name" property="createUserName" />
        <result column="update_user_name" property="updateUserName" />
        <result column="CustomerCode" property="CustomerCode" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="split_price" property="splitPrice" />
        <result column="total_price" property="totalPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        card_type_id AS cardTypeId, first_price AS firstPrice, split_num AS splitNum, split_type AS splitType, split_content AS splitContent, flag, type, is_using AS isUsing, create_time AS createTime, update_time AS updateTime, create_user_name AS createUserName, update_user_name AS updateUserName, CustomerCode, create_user_id AS createUserId, update_user_id AS updateUserId, split_price AS splitPrice, total_price AS totalPrice, id
    </sql>

</mapper>
