<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrClientFamilyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrClientFamily">
        <id column="id" property="id" />
        <result column="relations" property="relations" />
        <result column="name" property="name" />
        <result column="tel" property="tel" />
        <result column="work_unit" property="workUnit" />
        <result column="position" property="position" />
        <result column="is_member" property="isMember" />
        <result column="home_add" property="homeAdd" />
        <result column="flag" property="flag" />
        <result column="type" property="type" />
        <result column="is_using" property="isUsing" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_name" property="createUserName" />
        <result column="update_user_name" property="updateUserName" />
        <result column="CustomerCode" property="CustomerCode" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="client_id" property="clientId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        relations, name, tel, work_unit AS workUnit, position, is_member AS isMember, home_add AS homeAdd, flag, type, is_using AS isUsing, create_time AS createTime, update_time AS updateTime, create_user_name AS createUserName, update_user_name AS updateUserName, CustomerCode, create_user_id AS createUserId, update_user_id AS updateUserId, client_id AS clientId, id
    </sql>

</mapper>
