<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrClientPicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrClientPic">
        <id column="id" property="id" />
        <result column="client_id" property="clientId" />
        <result column="pic_type" property="picType" />
        <result column="pic_state" property="picState" />
        <result column="create_time" property="createTime" />
        <result column="pic_link" property="picLink" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        client_id AS clientId, pic_type AS picType, pic_state AS picState, id, create_time AS createTime, pic_link AS picLink
    </sql>

    <select id="getClientImg" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from fr_client_pic where client_id=#{id} and pic_type=1 and pic_state=1
    </select>







</mapper>
