<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrClientArchivesRelatePicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrClientArchivesRelatePic">
        <id column="id" property="id"/>
        <result column="archives_id" property="archivesId"/>
        <result column="pic_type" property="picType"/>
        <result column="pic_state" property="picState"/>
        <result column="pic_link" property="picLink"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        archives_id AS archivesId, pic_type AS picType, pic_state AS picState, pic_link AS picLink, create_time AS createTime, id
    </sql>

    <select id="getRelatePic" resultType="com.yj.dal.model.FrClientArchivesRelatePic">
        SELECT
        <include refid="Base_Column_List"></include>
        from fr_client_archives_relate_pic where archives_id=(SELECT id FROM fr_client_archives where save_date=#{date}
        AND client_id=#{cid} and type=#{type})
    </select>
</mapper>
