<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrClientPhysicalTestPicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrClientPhysicalTestPic">
        <id column="id" property="id" />
        <result column="fr_client_physical_test_id" property="frClientPhysicalTestId" />
        <result column="pic_link" property="picLink" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fr_client_physical_test_id AS frClientPhysicalTestId, pic_link AS picLink, id
    </sql>

</mapper>
