<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrCustomerCourseProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap_c" type="com.yj.dal.model.PersonnelInfo">
        <id column="ID" property="id" />
        <result column="c_CustomerCode" property="customerCode" />
        <result column="UserName" property="UserName" />
        <result column="PassWord" property="PassWord" />
        <result column="c_RelName" property="RelName" />
        <result column="Sex" property="Sex" />
        <result column="Mobile" property="Mobile" />
        <result column="CreateTime" property="CreateTime" />
        <result column="EntryTime" property="EntryTime" />
        <result column="LeaveTime" property="LeaveTime" />
        <result column="ShopId" property="ShopId" />
        <result column="DepartmentId" property="DepartmentId" />
        <result column="Status" property="Status" />
        <result column="Birthday" property="Birthday" />
        <result column="JobNumber" property="JobNumber" />
        <result column="Email" property="Email" />
        <result column="IndoorTel" property="IndoorTel" />
        <result column="DirectTel" property="DirectTel" />
        <result column="GroupNumber" property="GroupNumber" />
        <result column="FingerPrint" property="FingerPrint" />
        <result column="Veriface" property="Veriface" />
        <result column="IsDel" property="IsDel" />
        <result column="DeleteTime" property="DeleteTime" />
        <result column="DeletedBy" property="DeletedBy" />
        <result column="DeletedById" property="DeletedById" />
        <result column="ExtendField1" property="ExtendField1" />
        <result column="ExtendField2" property="ExtendField2" />
        <result column="ExtendField3" property="ExtendField3" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <!--<sql id="Base_Column_List">-->
        <!--CustomerCode, ID, UserName, PassWord, RelName, Sex, Mobile, CreateTime, EntryTime, LeaveTime, ShopId, DepartmentId, Status, Birthday, JobNumber, Email, IndoorTel, DirectTel, GroupNumber, FingerPrint, Veriface, IsDel, DeleteTime, DeletedBy, DeletedById, ExtendField1, ExtendField2, ExtendField3-->
    <!--</sql>-->

    <!--查询销售人员列表-->
    <select id="getTechnicianBySdaduimId" resultMap="BaseResultMap_c" parameterType="java.lang.String">
        SELECT
            pi.CustomerCode c_CustomerCode,
            pi.RelName c_RelName,
            r.Id ExtendField1,
            pi.*

        FROM
            PersonnelInfo pi
            LEFT JOIN PersonlRole pr ON pi.ID = pr.PersonnelInfoId
            LEFT JOIN RoleInfo r ON pr.RoleInfoId = r.id
        WHERE
            r.UserType = #{userType}
            AND r.BusinessType = #{businessTypeId}
            AND pi.CustomerCode = #{code}
    </select>


    <select id="getCourseList" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            shop.ShopName shop,
            shop.id shopId,
            sda.Name sdadium,
            sda.id sdadiumId,
            gc.name project,
            gc.id projectId,
           	isnull(gc.market_price,0) price,
	        isnull(gc.member_price,0) sale,
            gc.id courseId,
            gs.id courseSeriesId
        FROM
            fr_group_course gc
            LEFT JOIN fr_group_series gs ON gc.series_id = gs.id
            LEFT JOIN fr_group_series_shop_relation gssr ON gc.series_id = gssr.series_id
            LEFT JOIN Shop shop ON shop.id = gssr.shop_id
            LEFT JOIN Sdaduim sda ON sda.id = gs.sdaduim_id
        WHERE
            shop.id = #{shopId}
        <if test="sdaduimId != null and sdaduimId != ''">
            AND sda.id = #{sdaduimId}
        </if>
            AND gc.customer_code = #{code}
    </select>

    <select id="getCourseList1" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT DISTINCT
            pc.id,
            shop.ShopName shop,
            shop.id shopId,
            sda.Name sdadium,
            sda.id sdadiumId,
            pc.name project,
            pc.id projectId,
            isnull( pc.market_price, 0 ) price,
            isnull( pc.member_price, 0 ) sale,
            pc.id courseId,
            ( SELECT 1 ) courseSeriesId
        FROM
            fr_private_cource pc
            LEFT JOIN fr_private_package_relation ppr ON pc.id = ppr.cource_id
            LEFT JOIN Shop shop ON shop.id = ppr.shop_id
            LEFT JOIN Sdaduim sda ON sda.id = ppr.sdaduim_id
        WHERE
            shop.id = #{shopId}
        <if test="sdaduimId != null and sdaduimId != ''">
            AND sda.id = #{sdaduimId}
        </if>
            AND pc.customer_code = #{code}
    </select>

    <select id="getCoursePackageCourseId" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT

            shop.ShopName shop,
            shop.id shopId,
            sda.Name sdadium,
            sda.id sdadiumId,
            pc.name project,
            ppr.cource_id projectId,
            isnull(ppr.cource_count ,0) num,
            isnull(ppr.day_limit_count ,0) limitNum
        FROM
            fr_private_package_relation ppr
            LEFT JOIN Shop shop ON shop.id = ppr.shop_id
            LEFT JOIN Sdaduim sda ON sda.id = ppr.sdaduim_id
            LEFT JOIN fr_private_cource pc ON pc.id = ppr.cource_id
        WHERE
            shop.id = #{shopId}
            AND sda.id = #{sdaduimId}
            AND pc.customer_code = #{code}
            AND pc.id = #{courseId}
    </select>



</mapper>
