<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrEducationClientInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrEducationClientInfo">
        <id column="id" property="id" />
        <result column="education_id" property="educationId" />
        <result column="member_id" property="memberId" />
        <result column="member_name" property="memberName" />
        <result column="member_type" property="memberType" />
        <result column="member_card_no" property="memberCardNo" />
        <result column="member_card_id" property="memberCardId" />
        <result column="mobile" property="mobile" />
        <result column="reserve_client_id" property="reserveClientId" />
        <result column="reserve_client_name" property="reserveClientName" />
        <result column="reserve_date" property="reserveDate" />
        <result column="seat_id" property="seatId" />
        <result column="seat_name" property="seatName" />
        <result column="settle_type" property="settleType" />
        <result column="deduction_balance" property="deductionBalance" />
        <result column="reserve_status" property="reserveStatus" />
        <result column="remarks" property="remarks" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="sex" property="sex" />
        <result column="is_use" property="isUse" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        education_id AS educationId, member_id AS memberId, member_name AS memberName, member_type AS memberType, mobile, reserve_client_id AS reserveClientId, reserve_client_name AS reserveClientName, reserve_date AS reserveDate, seat_id AS seatId, seat_name AS seatName, settle_type AS settleType, deduction_balance AS deductionBalance, reserve_status AS reserveStatus, remarks, create_user_name AS createUserName, create_time AS createTime, sex, is_use AS isUse, update_time AS updateTime, create_user_id AS createUserId, update_user_id AS updateUserId, id, update_user_name AS updateUserName
        ,member_card_no as memberCardNo, member_card_id as memberCardId
    </sql>

    <sql id="Base_Column_List_a">
        eci.education_id AS educationId, eci.member_id AS memberId, eci.member_name AS memberName, eci.member_type AS memberType,
        eci.mobile, eci.reserve_client_id AS reserveClientId, eci.reserve_client_name AS reserveClientName, eci.reserve_date AS reserveDate,
        eci.seat_id AS seatId, eci.seat_name AS seatName, eci.settle_type AS settleType, eci.deduction_balance AS deductionBalance,
        eci.reserve_status AS reserveStatus, eci.remarks, eci.create_user_name AS createUserName, eci.create_time AS createTime,
        eci.sex, eci.is_use AS isUse, eci.update_time AS updateTime, eci.create_user_id AS createUserId, eci.update_user_id AS updateUserId,
        eci.id, eci.update_user_name AS updateUserName
        ,eci.member_card_no as memberCardNo, eci.member_card_id as memberCardId
    </sql>

    <!-- 查询待确认数组 -->
    <select id="findMemberReserveStatusList" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            fr_education_client_info
        /*left join
            fr_education_member_order emo ON emo.client_info_id = eci.id*/
        WHERE
            education_id = #{eduId}
        <if test="reserveStatus != null and reserveStatus != ''">
            AND reserve_status = ${reserveStatus}
        </if>
            and is_use = 1
        <if test="searchInput != null and searchInput != ''">
            and member_name like '%'+#{searchInput}+'%'
        </if>
        <if test="searchInput != null and searchInput != ''">
            and mobile like '%'+#{searchInput}+'%'
        </if>


    </select>

    <!-- 查询除了取消的用户 -->
    <select id="findMemberNotCancel" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            fr_education_client_info
        WHERE
            education_id = #{eduId}
            and member_id = #{memberId}
            AND reserve_status != 0
            and is_use = 1

    </select>


    <!-- 查询待确认数组 -->
    <select id="findClientCountByEduId" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            count(1) value
        FROM
            fr_education_client_info
        WHERE
            education_id = #{eduId}
            AND reserve_status = ${reserveStatus}
            AND reserve_status = ${reserveStatus}
            and is_use = 1
    </select>


    <select id="findByEduIdForNormal" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            fr_education_client_info eci
        WHERE
            eci.education_id = #{eduId}
            and eci.member_id = #{memberId}
            and eci.reserve_status in (1, 2)

    </select>
</mapper>
