<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrGroupSeriesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrGroupSeries">
        <id column="id" property="id" />
        <result column="is_using" property="isUsing" />
        <result column="note" property="note" />
        <result column="create_user" property="createUser" />
        <result column="is_chain" property="isChain" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="name" property="name" />
        <result column="update_time" property="updateTime" />
        <result column="parent_id" property="parentId" />
        <result column="customer_code" property="customerCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        is_using AS isUsing, note, id, create_user AS createUser, is_chain AS isChain, update_user AS updateUser, create_time AS createTime, name, update_time AS updateTime, parent_id AS parentId, customer_code AS customerCode
    </sql>

</mapper>
