<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrLatenceFollowPicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrLatenceFollowPic">
        <id column="id" property="id" />
        <result column="latence_follow_id" property="latenceFollowId" />
        <result column="follow_mark_pic" property="followMarkPic" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        latence_follow_id AS latenceFollowId, follow_mark_pic AS followMarkPic, id
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_ListT">
        latence_follow_id, follow_mark_pic , id
    </sql>

    <sql id="Base_where">
        <where>
            <if test="id != null and id !=''">
                id = #{Id}
            </if>
            <if test="latenceFollowId != null and latenceFollowId !=''">
                latence_follow_id = #{latenceFollowId}
            </if>
            <if test="followMarkPic != null and followMarkPic !=''">
                follow_mark_pic = #{followMarkPic}
            </if>
        </where>
    </sql>

    <select id="queryPricList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_ListT" />
        FROM
        fr_latence_follow_pic
        <include refid="Base_where"/>
    </select>
</mapper>
