<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrLevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrLevel">
        <id column="id" property="id" />
        <result column="level_name" property="levelName" />
        <result column="low_money" property="lowMoney" />
        <result column="low_integral" property="lowIntegral" />
        <result column="flag" property="flag" />
        <result column="type" property="type" />
        <result column="is_using" property="isUsing" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_name" property="createUserName" />
        <result column="update_user_name" property="updateUserName" />
        <result column="CustomerCode" property="CustomerCode" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        level_name AS levelName, low_money AS lowMoney, low_integral AS lowIntegral, flag, type, is_using AS isUsing, create_time AS createTime, update_time AS updateTime, create_user_name AS createUserName, update_user_name AS updateUserName, CustomerCode, create_user_id AS createUserId, update_user_id AS updateUserId, id
    </sql>

</mapper>
