<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrPrivateCourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrPrivateCource">
        <id column="id" property="id"/>
        <result column="private_image" property="privateImage"/>
        <result column="class_scheduling" property="classScheduling"/>
        <result column="customer_code" property="customerCode"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_show_desk" property="isShowDesk"/>
        <result column="time" property="time"/>
        <result column="create_time" property="createTime"/>
        <result column="valid_time" property="validTime"/>
        <result column="name" property="name"/>
        <result column="update_user" property="updateUser"/>
        <result column="class_info" property="classInfo"/>
        <result column="promotion_price" property="promotionPrice"/>
        <result column="create_user" property="createUser"/>
        <result column="assign_teacher" property="assignTeacher"/>
        <result column="market_price" property="marketPrice"/>
        <result column="class_scheduling_type" property="classSchedulingType"/>
        <result column="valid_time_type" property="validTimeType"/>
        <result column="is_account_spending" property="isAccountSpending"/>
        <result column="remain_cource_num" property="remainCourceNum"/>
        <result column="member_price" property="memberPrice"/>
        <result column="is_using" property="isUsing"/>
        <result column="assign_teacher_type" property="assignTeacherType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        private_image AS privateImage, class_scheduling AS classScheduling, customer_code AS customerCode, update_time AS updateTime, is_show_desk AS isShowDesk, time, create_time AS createTime, valid_time AS validTime, name, update_user AS updateUser, class_info AS classInfo, promotion_price AS promotionPrice, create_user AS createUser, assign_teacher AS assignTeacher, market_price AS marketPrice, class_scheduling_type AS classSchedulingType, valid_time_type AS validTimeType, id, is_account_spending AS isAccountSpending, remain_cource_num AS remainCourceNum, member_price AS memberPrice, is_using AS isUsing, assign_teacher_type AS assignTeacherType
    </sql>


    <!-- 根据课程系列获取所有动作 -->
    <!--<select id="getActionsByseriesId" resultType="com.yj.dal.dto.FrTrainingClassDTO">-->
    <!--SELECT-->
    <!--c.id,-->
    <!--c.type,-->
    <!--s.name as seriesName,-->
    <!--c.[time],-->
    <!--c.strength,-->
    <!--c.[count],-->
    <!--c.remark,-->
    <!--a.image,-->
    <!--a.name,-->
    <!--a.action_princeple,-->
    <!--a.diff-->
    <!--FROM-->
    <!--fr_traning_class c,-->
    <!--fr_action a,-->
    <!--fr_action_series s-->
    <!--WHERE-->
    <!--c.action_id = a.id-->
    <!--AND a.series_id = s.id-->
    <!--AND c.is_using = 1-->
    <!--AND a.is_using = 1-->
    <!--AND c.traning_series_id = #{ traningSeriesId }-->
    <!--AND c.type = #{type}-->
    <!---->
    <!--</select>-->

    <select id="getActionsByseriesId" resultType="com.yj.dal.dto.FrTrainingClassDTO">
        	SELECT
	frc.time,
	frc.strength,
	frc.count,
	frc.remark,
	frc.id,
	( SELECT name FROM fr_action fa WHERE fa.id = frc.action_id AND fa.is_using = 1 ) name,
		( SELECT image FROM fr_action fa WHERE fa.id = frc.action_id AND fa.is_using = 1 ) image,
	(
SELECT name
FROM
	fr_action_series fas
WHERE
	fas.id = ( SELECT fa.series_id FROM fr_action fa WHERE fa.id = frc.action_id AND fa.is_using = 1 )
	) seriesName
FROM
	fr_traning_class frc
WHERE
	frc.traning_series_id = #{traningSeriesId}
	AND type = #{type}
	AND own_type = 1
	AND is_using =1
    </select>
    <select id="getActionsByseriesId2" resultType="com.yj.dal.dto.FrTrainingClassDTO">
        	SELECT
	frc.time,
	frc.strength,
	frc.count,
	frc.remark,
	frc.id,
	( SELECT name FROM fr_action fa WHERE fa.id = frc.action_id AND fa.is_using = 1 ) name,
		( SELECT image FROM fr_action fa WHERE fa.id = frc.action_id AND fa.is_using = 1 ) image,
	(
SELECT name
FROM
	fr_action_series fas
WHERE
	fas.id = ( SELECT fa.series_id FROM fr_action fa WHERE fa.id = frc.action_id AND fa.is_using = 1 )
	) seriesName
FROM
	fr_traning_class frc
WHERE
	frc.traning_series_id = #{traningSeriesId}
	AND type = #{type}
	AND own_type = 2
	AND is_using =1
    </select>

    <select id="findCource" resultType="com.yj.dal.model.FrPrivateCource" >
SELECT
	<include refid="Base_Column_List"></include>
FROM
	fr_private_cource
WHERE
	is_using = 1 and sdaduim_id =#{sdaduimId}
	AND id IN ( SELECT cource_id FROM fr_private_package_relation WHERE shop_id =#{shopId} AND is_using = 1 )

	</select>

	<select id="findPrivateCource" resultType="com.yj.dal.model.FrPrivateCource" >
		SELECT
		<include refid="Base_Column_List"></include>
		FROM
		fr_private_cource
		WHERE
		is_using = 1 and sdaduim_id =#{sdaduimId}
		AND id IN ( SELECT cource_id FROM fr_private_package_relation WHERE sdaduim_id =#{sid} AND is_using = 1 )

	</select>


	<select id="selectByProject" parameterType="java.lang.String" resultType="com.yj.dal.model.FrPrivateCource">
		SELECT * FROM fr_private_cource WHERE name =#{project}
	</select>
</mapper>
