<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrShopCardConsumeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrShopCardConsume">
        <id column="id" property="id" />
        <result column="card_id" property="cardId" />
        <result column="shop_id" property="shopId" />
        <result column="sdaduim_id" property="sdaduimId" />
        <result column="item_id" property="itemId" />
        <result column="type_set_state" property="typeSetState" />
        <result column="kzje" property="kzje" />
        <result column="usage_mode" property="usageMode" />
        <result column="mode_price" property="modePrice" />
        <result column="mode_way" property="modeWay" />
        <result column="mode_discount" property="modeDiscount" />
        <result column="pl_set" property="plSet" />
        <result column="pl_left" property="plLeft" />
        <result column="pl_time" property="plTime" />
        <result column="pl_right" property="plRight" />
        <result column="CustomerCode" property="CustomerCode" />
        <result column="mode_time" property="modeTime" />
        <result column="mode_num" property="modeNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        card_id AS cardId, shop_id AS shopId, sdaduim_id AS sdaduimId, item_id AS itemId, type_set_state AS typeSetState, kzje, usage_mode AS usageMode, mode_price AS modePrice, mode_way AS modeWay, mode_discount AS modeDiscount, pl_set AS plSet, pl_left AS plLeft, pl_time AS plTime, pl_right AS plRight, CustomerCode, mode_time AS modeTime, mode_num AS modeNum, id
    </sql>

</mapper>
