<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.FrStoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.FrStore">
        <id column="shop_id" property="shopId" />
        <result column="mobile" property="mobile" />
        <result column="tel" property="tel" />
        <result column="img_url" property="imgUrl" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="introduce" property="introduce" />
        <result column="single_status" property="singleStatus" />
        <result column="ygk_status" property="ygkStatus" />
        <result column="flag" property="flag" />
        <result column="type" property="type" />
        <result column="is_using" property="isUsing" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_name" property="createUserName" />
        <result column="update_user_name" property="updateUserName" />
        <result column="CustomerCode" property="CustomerCode" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shop_id AS shopId, mobile, tel, img_url AS imgUrl, longitude, latitude, introduce, single_status AS singleStatus, ygk_status AS ygkStatus, flag, type, is_using AS isUsing, create_time AS createTime, update_time AS updateTime, create_user_name AS createUserName, update_user_name AS updateUserName, CustomerCode, create_user_id AS createUserId, update_user_id AS updateUserId
    </sql>
    <select id="selectListByGroupBy" resultType="com.yj.dal.model.FrStore">
        select city_id cityId,city_name cityName FROM fr_store GROUP BY city_id,city_name
    </select>

</mapper>
