<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.PersonnelInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.PersonnelInfo">
        <id column="ID" property="id" />
        <result column="CustomerCode" property="CustomerCode" />
        <result column="UserName" property="UserName" />
        <result column="PassWord" property="PassWord" />
        <result column="RelName" property="RelName" />
        <result column="Sex" property="Sex" />
        <result column="Mobile" property="Mobile" />
        <result column="CreateTime" property="CreateTime" />
        <result column="EntryTime" property="EntryTime" />
        <result column="LeaveTime" property="LeaveTime" />
        <result column="ShopId" property="ShopId" />
        <result column="DepartmentId" property="DepartmentId" />
        <result column="Status" property="Status" />
        <result column="Birthday" property="Birthday" />
        <result column="JobNumber" property="JobNumber" />
        <result column="Email" property="Email" />
        <result column="IndoorTel" property="IndoorTel" />
        <result column="DirectTel" property="DirectTel" />
        <result column="GroupNumber" property="GroupNumber" />
        <result column="FingerPrint" property="FingerPrint" />
        <result column="Veriface" property="Veriface" />
        <result column="IsDel" property="IsDel" />
        <result column="DeleteTime" property="DeleteTime" />
        <result column="DeletedBy" property="DeletedBy" />
        <result column="DeletedById" property="DeletedById" />
        <result column="ExtendField1" property="ExtendField1" />
        <result column="ExtendField2" property="ExtendField2" />
        <result column="ExtendField3" property="ExtendField3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CustomerCode, ID, UserName, PassWord, RelName, Sex, Mobile, CreateTime, EntryTime, LeaveTime, ShopId, DepartmentId, Status, Birthday, JobNumber, Email, IndoorTel, DirectTel, GroupNumber, FingerPrint, Veriface, IsDel, DeleteTime, DeletedBy, DeletedById, ExtendField1, ExtendField2, ExtendField3
    </sql>

    <!--去除用户名，及密码-->
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List_PersonnelInfo">
        pi.CustomerCode,
        pi.ID,
        pi.RelName,
        pi.Sex,
        pi.Mobile,
        pi.CreateTime,
        pi.EntryTime,
        pi.LeaveTime,
        pi.ShopId,
        pi.DepartmentId,
        pi.Status,
        pi.Birthday,
        pi.JobNumber,
        pi.Email,
        pi.IndoorTel,
        pi.DirectTel,
        pi.GroupNumber,
        pi.FingerPrint,
        pi.Veriface,
        pi.IsDel,
        pi.DeleteTime,
        pi.DeletedBy,
        pi.DeletedById,
        pi.ExtendField1,
        pi.ExtendField2,
        pi.ExtendField3
    </sql>



    <!--查询销售人员列表-->
    <select id="getMarketUserList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
          <include refid="Base_Column_List_PersonnelInfo" />
        FROM
        PersonnelInfo pi
        LEFT JOIN
        PersonlRole pr
        ON
        pi.ID = pr.PersonnelInfoId
        LEFT JOIN
        RoleInfo r
        ON
        pr.RoleInfoId = r.id
        WHERE r.UserType = 1
        AND pi.ShopId = #{shopId}
        AND pi.CustomerCode = #{code}
    </select>


    <!--查询销售人员列表-->
    <select id="getPsersonnelListByShopId" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List_PersonnelInfo" />
        FROM  PersonnelInfo pi
        LEFT JOIN   PersonlRole pr
        ON  pi.ID = pr.PersonnelInfoId
        LEFT JOIN   RoleInfo r
        ON  pr.RoleInfoId = r.id
        WHERE r.UserType = #{UserType}
        AND pi.ShopId = #{shopId}
        AND pi.CustomerCode = #{CustomerCode}
    </select>


    <!--查询销售人员列表-->
    <select id="getPersonnelByShopId" resultType="java.util.Map">
        SELECT
             r.id rId,
             r.FirstName,
             r.ParentId,
             r.RoleType,
             r.ISTeach,
             r.ServiceRole,
             r.BusinessType,
             r.UserType,
            rf.RoleInfoId,
            p.RelName,
            p.id pId,
            p.ShopId
       FROM PersonnelInfo p
       LEFT JOIN PersonlRole rf ON rf.PersonnelInfoId = p.id
       LEFT JOIN RoleInfo r ON  r.id = rf.RoleInfoId
       WHERE  r.IsDel=0
         AND  rf.IsDel = 0
         AND  p.IsDel = 0
         AND  p.Status = 0
         AND  p.CustomerCode = #{CustomerCode}
         AND  p.ShopId = #{shopId}
       <if test="businessTypeList != null and businessTypeList.size >0" >
         AND (
            <foreach collection="businessTypeList" item="BusinessType" index="i" open="" close="" separator="or">
                r.BusinessType = #{BusinessType}
            </foreach>
            )
       </if>
    </select>


</mapper>
