<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dal.dao.RoleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yj.dal.model.RoleInfo">
        <id column="ID" property="id"/>
        <result column="CustomerCode" property="CustomerCode"/>
        <result column="FirstName" property="FirstName"/>
        <result column="RolRoleName" property="RolRoleName"/>
        <result column="ParentId" property="ParentId"/>
        <result column="RoleType" property="RoleType"/>
        <result column="ISTeach" property="ISTeach"/>
        <result column="ServiceRole" property="ServiceRole"/>
        <result column="BusinessType" property="BusinessType"/>
        <result column="UserType" property="UserType"/>
        <result column="IsDel" property="IsDel"/>
        <result column="CanDel" property="CanDel"/>
        <result column="Sort" property="Sort"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CustomerCode, ID, FirstName, RolRoleName, ParentId, RoleType, ISTeach, ServiceRole, BusinessType, UserType, IsDel, CanDel, Sort
    </sql>
    <select id="selectByfirstName" parameterType="java.lang.String" resultType="com.yj.dal.model.RoleInfo">
        select
        <include refid="Base_Column_List"></include>
        from RoleInfo where FirstName=#{firstName}
    </select>

    <!--递归获取指定角色的所有上级角色-->
    <select id="getUpGradeAll" resultType="java.util.Map">
        WITH cte AS
           ( SELECT r.CustomerCode, r.FirstName,r.ID,r.ParentId,0 as Lev
             FROM RoleInfo r
             WHERE r.ID = #{roleInfoId}
             UNION ALL
            SELECT d.CustomerCode,d.FirstName,d.ID,d.ParentId,Lev+1
            FROM cte c
            INNER JOIN RoleInfo d
            ON c.ParentId  = d.ID AND c.CustomerCode = d.CustomerCode )
        SELECT * FROM cte
    </select>

    <select id="getFistName" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT
        FirstName
        FROM
        RoleInfo
        WHERE
        ID = (select RoleInfoId from PersonlRole where PersonnelInfoId=#{pid} and IsMain=1)
    </select>


</mapper>
