<!doctype html>
<html lang="en">

	<head>
		<title>Home</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script type="text/javascript" src="js/head_css.js"></script>
		<style type="text/css">
			.opeacity-info{color: #333;font-weight: 400;}
			.opeacity-info strong{margin-right: 10px;}
			.add-project{padding: 3.5px 5px;border-radius: 0;margin-bottom: 15px;}
		</style>
	</head>

	<body>
		<!-- 整个页面内容 -->
		<div id="wrapper" v-cloak>
			<!-- 顶部菜单 -->
			<top-menu-bar></top-menu-bar>
			<!-- END 顶部菜单 -->

			<!-- 左侧菜单  -->
			<sidebar-nav></sidebar-nav>
			<!-- END 左侧菜单 -->

			<!-- 右边容器 -->
			<div class="main">
				<!-- 主要内容 -->
				<div class="main-content">
					<!--真正开始写你的页面-->
					<div class="flex-box flex-stretch">
						<div class="w170 sub-nav">
							<ul class="nav">
								<li class="active">
									<a href="#">
										<span>健身馆设置</span></a>
								</li>
								<li>
									<a href="#">
										<span>健身团教设置</span></a>
								</li>
								<li>
									<a href="#">
										<span>健身私教设置</span></a>
								</li>
							</ul>
						</div>
						<div class="flex-box-item bgc-fff p10 border1-e4e4e4">
							<p class="opeacity-info">
								<span>操作人：</span><strong>Klaus</strong>
								<span>操作时间：</span><strong>2018-09-05 21:58</strong>
	 							<span class="c-ff0000">但有新建门店时，门店会自动添加本项目</span>
							</p>
 							<div>
 								<button class="btn btn-red add-project" @click="add">新增项目</button>
 							</div>
 							<table class="table table-bordered table-style">
  								<thead>
  									<tr>
  										<td>可用门店</td>
  										<td>场馆</td>
  										<td>项目名称</td>
  										<td>消费单位</td>
  										<td>市场价格</td>
  										<td>促销价格</td>
  										<td>会员价</td>
  										<td>押金</td>
  										<td>消费设置</td>
  										<td>备注</td>
  										<td>操作</td>
  									</tr>
  								</thead>
  								<tbody>
  									<tr>
  										<td>连锁店通用</td>
  										<td>健身馆</td>
  										<td>健身</td>
  										<td> 次 </td>
  										<td>60.00</td>
  										<td>45.00</td>
  										<td><span class="c-ff0000">50.00</span></td>
  										<td>0.00</td>
  										<td>不限时</td>
  										<td></td>
  										<td><span class="c-009900" @click="modify">修改</span> <span class="c-ccc">删除</span></td>
  									</tr>
  									<tr>
  										<td></td>
  										<td></td>
  										<td></td>
  										<td></td>
  										<td></td>
  										<td></td>
  										<td></td>
  										<td></td>
  										<td></td>
  										<td></td>
  										<td></td>
  									</tr>
  								</tbody>
							</table>
						</div>
						<!--修改模态框-->
						<div class="modal fade modal-style" id="modifyModal" tabindex="-1" role="dialog" data-backdrop="false">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title">修改项目</h4>
						      </div>
						      <div class="modal-body">
						        <fieldset class="fieldset-info">
						        	<legend class="c-999">项目设置</legend>
						        	<div class="fieldset-content">
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				使用门店：
						        			</div>
						        			<div class="flex-box-item">
						        				连锁店通用
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				场馆：
						        			</div>
						        			<div class="flex-box-item">
						        				健身馆
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				<span class="c-ff0000">* </span>项目名称：
						        			</div>
						        			<div class="flex-box-item">
						        				<input type="text" class="form-control w205" value="健身" />
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				<span class="c-ff0000">* </span>市场价：
						        			</div>
						        			<div class="flex-box-item">
						        				<input type="number" step="0.01" class="form-control" value="60.00" /> 次 
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				 促销价：
						        			</div>
						        			<div class="flex-box-item">
						        				<input type="number" step="0.01" class="form-control" value="45.00" /> 次 
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				<span class="c-ff0000">* </span>会员价：
						        			</div>
						        			<div class="flex-box-item">
						        				<input type="number" step="0.01" class="form-control" value="50.00" /> 次 
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				<span class="c-ff0000">* </span>押金：
						        			</div>
						        			<div class="flex-box-item">
						        				<input type="number" step="0.01" class="form-control" value="0.00" /> 次<span class="c-ff0000">&emsp;如果该场馆需要收费时设置，不收押金则填写0.00</span>
						        			</div>
						        		</div>
						        		<div class="flex-box flex-start">
						        			<div class="w80 text-right">
						        				<span class="c-ff0000">* </span>备注：
						        			</div>
						        			<div class="flex-box-item">
						        				<textarea class="form-control" rows="4"></textarea>
						        			</div>
						        		</div>
						        	</div>
						        </fieldset>
						      </div>
						      <div class="modal-footer">
						      	<button type="button" class="btn btn-success">修改</button>
						        <button type="button" class="btn btn-fff" data-dismiss="modal">取消</button>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						
						<!--新增项目模态框-->
						<!-- Modal -->
						<div class="modal fade modal-style" id="addModal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">添加项目</h4>
						      </div>
						      <div class="modal-body">
						        <fieldset class="fieldset-info bc-00cccc pb10">
						        	<legend class="c-00cccc">给门店批量添加本项目（<span class="c-ff0000">批量添加时，所有门店会自动增加本项目</span>）</legend>
						        	<div class="checkbox ml15 mtb0">
									    <label>
									      <input type="checkbox" v-model="isAuth" value="true">连锁店自动添加（但有新建门店时，门店会自动添加本项目）
									    </label>
									  </div>
									  <fieldset class="fieldset-info pt0 pb35 mtb0">
									  	<div class="checkbox-box">
										  <div class="checkbox ml5" v-for="store in storeData">
											    <label>
											      <input type="checkbox" :disabled="isAuth" v-model="store.selected" value="true">{{store.text}}
											    </label>
											    <div class="checkbox ml15" v-show="store.children && store.children.length">
												    <label v-for="sto in store.children">
												      <input type="checkbox" :disabled="isAuth" v-model="sto.selected" value="true">{{sto.text}}
												    </label>
											  </div>
										  </div>
										</div>
										<div class="checkbox all-select">
										    <label>
										      <input type="checkbox" :disabled="isAuth" value="true" v-model="isAll">全选/全不选
										    </label>
										</div>
									  </fieldset>
						        </fieldset>
						        <fieldset class="fieldset-info">
						        	<legend class="c-999">项目设置</legend>
						        	<div class="fieldset-content">
							        	<div class="flex-box">
						        			<div class="w80 text-right">
						        				场馆：
						        			</div>
						        			<div class="flex-box-item">
						        				健身馆
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				<span class="c-ff0000">* </span>项目名称：
						        			</div>
						        			<div class="flex-box-item">
						        				<input type="text" class="form-control w205" value="健身" />
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				<span class="c-ff0000">* </span>市场价：
						        			</div>
						        			<div class="flex-box-item">
						        				<input type="number" step="0.01" class="form-control" value="60.00" /> 次 
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				 促销价：
						        			</div>
						        			<div class="flex-box-item">
						        				<input type="number" step="0.01" class="form-control" value="45.00" /> 次 
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				<span class="c-ff0000">* </span>会员价：
						        			</div>
						        			<div class="flex-box-item">
						        				<input type="number" step="0.01" class="form-control" value="50.00" /> 次 
						        			</div>
						        		</div>
						        		<div class="flex-box">
						        			<div class="w80 text-right">
						        				<span class="c-ff0000">* </span>押金：
						        			</div>
						        			<div class="flex-box-item">
						        				<input type="number" step="0.01" class="form-control" value="0.00" /> 次<span class="c-ff0000">&emsp;如果该场馆需要收费时设置，不收押金则填写0.00</span>
						        			</div>
						        		</div>
						        		<div class="flex-box flex-start">
						        			<div class="w80 text-right">
						        				<span class="c-ff0000">* </span>备注：
						        			</div>
						        			<div class="flex-box-item">
						        				<textarea class="form-control" rows="4"></textarea>
						        			</div>
						        		</div>
						        	</div>
						        </fieldset>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-red add-project mb0">添加</button>
						      </div>
						    </div>
						  </div>
						</div>
						<!--END 模态框-->
						
					</div>
				</div>
				<!-- END 主要内容 -->
			</div>
			<!-- END 右边容器 -->

			<div class="clearfix"></div>

			<!--<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2017-2019xxx版权所有</p>
			</div>
		</footer>-->
		</div>
		<!-- END 整个页面内容 -->

		<script type="text/javascript" src="js/post_js.js"></script>
		<script type="text/javascript">
			$(function() {
				new Vue({
					el: '#wrapper',
					data: {
						isAuth:false,
						isAll:false,
						storeData:[
							{
								value:1,
								text:'厦门市',
								selected:false,
								children:[
									{
										value:10000,
										text:'软件园店',
										selected:false,
									},
									{
										value:10001,
										text:'集美店',
										selected:false,
									},
									{
										value:10002,
										text:'思明店',
										selected:false,
									}
								]
							},
							{
								value:2,
								text:'泉州市',
								selected:false,
								children:[
									{
										value:20000,
										text:'丰泽区',
										selected:false,
									},
									{
										value:20001,
										text:'鲤城区',
										selected:false,
									},
									{
										value:20002,
										text:'东海区',
										selected:false,
									}
								]
							}
						]
					},
					mounted: function() {
						
					},
					methods: {
						add:function(){
							$('#addModal').modal('show');
						},
						modify:function(){
							$('#modifyModal').modal('show');
						}
					},
					watch:{
						isAuth:function(val){
							if(val){
								for(var i in this.storeData){
									this.storeData[i].selected=false;
									var children=this.storeData[i].children;
									if(children && children.length){
										for(var j in children){
											this.storeData[i].children[j].selected=false;
										}
									}
								}
								this.isAll=false;
							}
						},
						isAll:function(val){
							if(val){
								for(var i in this.storeData){
									this.storeData[i].selected=true;
									var children=this.storeData[i].children;
									if(children && children.length){
										for(var j in children){
											this.storeData[i].children[j].selected=true;
										}
									}
								}
							}else{
								for(var i in this.storeData){
									this.storeData[i].selected=false;
									var children=this.storeData[i].children;
									if(children && children.length){
										for(var j in children){
											this.storeData[i].children[j].selected=false;
										}
									}
								}
							}
						}
					}
				})
			});
		</script>
		</script>
	</body>

</html>