<!-- 结账 -->
<div id="customer-new-buy-project-bill-body" style="z-index: 9999;">
    <div id="offer" class="newCustomers_maskLayer" style="display: block;">
        <div class="newCustomers_maskLayer_box">
            <div class="newCustomers_maskLayer_box_top">
                <span>结账</span><a href="#" class="newCustomers_maskLayer_X" @click="deleteBillHtml">X</a>
            </div>
            <div class="newCustomers_maskLayer_box_shen">
                <fieldset class="section2">
                    <legend>消费人员信息</legend>
                    <div>
                        <span>会员姓名：<strong v-text="formData.userInfo.data.clientName"></strong></span>
                        <span>手机号码：<strong v-text="formData.userInfo.data.mobile"></strong></span>
                        <span>性别：<strong v-text="formData.userInfo.data.sex == 1 ? '女' : '男'"></strong></span>
                    </div>
                </fieldset>
                <fieldset class="section3">
                    <legend>产品信息</legend>
                    <div class="section3_box">
                        <div class="section3_box_top">
                            <span>订单编号：<strong v-text="formData.orderInfo.orderNo"> </strong> </span>
                            <span>创建时间：</span><span v-text="formData.orderInfo.createDate"></span>
                        </div>
                        <div class="section3_box_botton">
                            <div class="section3_box_botton_left">
                                <img src="../img/u601.png" alt="">
                            </div>
                            <div class="section3_box_botton_rigth">
                                <div>
                                    <strong>健身私教一对一</strong>
                                    <span>单价：<strong>￥1200.00</strong></span>
                                    <span style="margin-left: 7px;">可用数量：<strong>365</strong></span>
                                    <span>总价：<strong>￥6000.00</strong></span>
                                </div>
                                <div>
                                    <span>有效期：2018-08-25~2019-08-25</span>
                                    <span>购买数量：365</span>
                                </div>
                                <div>
                                    <span style="margin-left: 215px;">赠送数量：0</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <fieldset class="section4">
                    <legend>结账</legend>
                    <div class="section4_box">
                        <div class="section4_box_top">
                            <div>付款类型：
                                <label @click="formData.payType.index = 0;reviewType = ''"><input type="radio"
                                                                                                  name="quan">全款</label>
                                <label @click="formData.payType.index = 1;reviewType = ''"><input type="radio"
                                                                                                  name="quan">定金</label>
                                <label @click="formData.payType.index = 2;reviewType = 'gift'"><input type="radio"
                                                                                                      name="quan">赠送</label>
                                <label @click="formData.payType.index = 3;reviewType = 'replacement'"><input
                                        type="radio" name="quan">置换</label>
                                <label @click="formData.payType.index = 4"><input type="radio" name="quan" disabled>分期付款</label>
                            </div>
                        </div>
                        <div class="section4_box_botton">
                            <fieldset v-show="formData.payType.index === 0">
                                <div style="line-height: 50px !important">
                                    选择全款，请填写对应的支付方式，以及对应支付金额，完成结账！
                                </div>
                            </fieldset>
                            <fieldset v-show="formData.payType.index === 1">
                                <div>
                                    <label>补余期限：</label>
                                    <label><input type="radio" name="tian" v-model="formData.payType.front.date"
                                                  value="3">3天</label>
                                    <label><input type="radio" name="tian" v-model="formData.payType.front.date"
                                                  value="5">5天</label>
                                    <label><input type="radio" name="tian" v-model="formData.payType.front.date"
                                                  value="7">7天</label>
                                    <label><input type="radio" name="tian" v-model="formData.payType.front.date"
                                                  value="15">15天</label>
                                    <label><input type="radio" name="tian" v-model="formData.payType.front.date"
                                                  value="30">30天</label>
                                    <label><input type="radio" name="tian" v-model="formData.payType.front.date"
                                                  value="90">90天</label>
                                    <label><input type="radio" name="tian" v-model="formData.payType.front.date"
                                                  value="180">180天</label>
                                    <label><input type="radio" name="tian" v-model="formData.payType.front.date"
                                                  value="other">180天</label>
                                    <label>
                                        <span>其他</span>
                                        <input type="text" name="tian" style="float: none;"
                                               v-model="formData.payType.front.money"
                                               oninput="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')"/>
                                        <span style="float: right;">元</span>
                                    </label>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset3" v-show="formData.payType.index === 2">
                                <div>
                                    赠送人：
                                    <select name="1" v-model="formData.gift.chooseUserId">
                                        <option value="">无</option>
                                        <option v-for='(item,index) in formData.gift.presenter' :value="item.id">
                                            {{item.relName}}
                                        </option>
                                    </select>
                                    输入授权（密码/指纹/指静脉）：
                                    <input type="text" style="float:initial" v-model="formData.gift.fingerprint"
                                           @blur="verifyUser">
                                    <span v-text="formData.gift.msg" :class="formData.gift.class"></span>
                                </div>
                            </fieldset>
                            <fieldset v-show="formData.payType.index === 3">
                                <div>
                                    <div>
                                        <span> 置换单位名称：</span>
                                        <input type="text" v-model="formData.replacement.unit">
                                        <span>置换方式：</span>
                                        <input type="text" v-model="formData.replacement.way">
                                    </div>
                                    <div>
                                        <span>审核人：</span>
                                        <select name="1" v-model="formData.replacement.chooseUserId">
                                            <option value="">无</option>
                                            <option v-for='(item,index) in formData.replacement.presenter'
                                                    :value="item.id">
                                                {{item.relName}}
                                            </option>
                                        </select>
                                        <span>输入授权（密码/指纹/指静脉）：</span>
                                        <input type="text" v-model="formData.replacement.fingerprint"
                                               @blur="verifyUser">

                                        <span v-text="formData.replacement.msg"
                                              :class="formData.replacement.class"></span>
                                    </div>


                                </div>
                            </fieldset>
                            <fieldset v-show="formData.payType.index === 4">
                                <div class="maskLayerAlert">
                                    <div class="maskLayerAlert_box">
                                        <div class="table_hide">
                                            <table class="table table-bordered text-center table-hover"
                                                   style="margin-bottom: 0;">
                                                <thead>
                                                <tr>
                                                    <th>购卡价格</th>
                                                    <th>首付</th>
                                                    <th>分期金额</th>
                                                    <th>期限</th>
                                                    <th>分期付款类型</th>
                                                    <th>内容</th>
                                                    <th>分期类型</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>3960.00</td>
                                                    <td>1000.00</td>
                                                    <td>2960.00</td>
                                                    <td>3</td>
                                                    <td>金额</td>
                                                    <td>大多数</td>
                                                    <td><a href="#" onclick="setting_a()">分期详情</a></td>
                                                    <td><a href="#" onclick="setting_a2()">重新选择</a></td>

                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="maskLayerAlert_box_alert" style="display: none;">
                                            <div class="maskLayerAlert_box_alert_a">分期详情<a href="#"
                                                                                           class="setting_hide_a"
                                                                                           onclick="settingOut_a()">X</a>
                                            </div>
                                            <div>
                                                <p> 01/03期，还款时间：2018-07-23 分期比例：30% 还款金额：￥420.00</p>
                                                <p> 01/03期，还款时间：2018-07-23 分期比例：30% 还款金额：￥420.00</p>
                                                <p> 01/03期，还款时间：2018-07-23 分期比例：30% 还款金额：￥420.00</p>
                                            </div>
                                        </div>
                                        <div class="maskLayerAlert_box_alert2" style="display: none;">
                                            <div class="maskLayerAlert_box_alert_a">选择分期类型<a href="#"
                                                                                             class="setting_hide_a"
                                                                                             onclick="settingOut_a2()">X</a>
                                            </div>
                                            <div>
                                                <div class="maskLayerAlert">
                                                    <div class="maskLayerAlert_box">
                                                        <div class="table_hide">
                                                            <table class="table table-bordered text-center table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>选择</th>
                                                                    <th>购卡价格</th>
                                                                    <th>首付</th>
                                                                    <th>分期金额</th>
                                                                    <th>期限</th>
                                                                    <th>分期付款类型</th>
                                                                    <th>内容</th>
                                                                    <th>分期类型</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td><label><input type="checkbox"></label></td>
                                                                    <td>3960.00</td>
                                                                    <td>1000.00</td>
                                                                    <td>2960.00</td>
                                                                    <td>3</td>
                                                                    <td>金额</td>
                                                                    <td>大多数</td>
                                                                    <td><a href="javascript:;" onclick="setting_a()">分期详情</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><label><input type="checkbox"></label></td>
                                                                    <td>3960.00</td>
                                                                    <td>1000.00</td>
                                                                    <td>2960.00</td>
                                                                    <td>3</td>
                                                                    <td>比例</td>
                                                                    <td>大多数</td>
                                                                    <td><a href="#" onclick="setting_a()">分期详情</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><label><input type="checkbox"></label></td>
                                                                    <td>3960.00</td>
                                                                    <td>1000.00</td>
                                                                    <td>2960.00</td>
                                                                    <td>3</td>
                                                                    <td>金额</td>
                                                                    <td>大多数</td>
                                                                    <td><a href="#" onclick="setting_a()">分期详情</a></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <a href="javascript:;" class="btn btn-default">确定</a>
                                                        </div>
                                                        <div class="maskLayerAlert_box_alert" style="display: none;">
                                                            <div class="maskLayerAlert_box_alert_a">分期详情<a href="#"
                                                                                                           class="setting_hide_a"
                                                                                                           onclick="settingOut_a()">X</a>
                                                            </div>
                                                            <div>
                                                                <p> 01/03期，还款时间：2018-07-23 分期比例：30% 还款金额：￥420.00</p>
                                                                <p> 01/03期，还款时间：2018-07-23 分期比例：30% 还款金额：￥420.00</p>
                                                                <p> 01/03期，还款时间：2018-07-23 分期比例：30% 还款金额：￥420.00</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="maskLayerAlert_footer">
                                                        <div class="category_span_red">
                                                            注:时间到期,卡自动进入待补余未开卡状态,必须支付对应金额才能开卡。可以一次性把剩余卡卡价付清。
                                                            <p>默认有几种平均分期情况。如果不一样请自行修改或者添加。</p>
                                                            <p>购卡总金额:等于卡销售价+实际利息。如果实际利息为0那么就等于卡销售价。请自行修改。</p>
                                                            <p>首付:是指第一次需要付款的金额。如果直接是购卡总金额上做分期的。那么首付请填写0。</p>
                                                            <p>分期金额:等于购卡总金额一首付。</p>
                                                            <p>账期:是指分期金额需要分几期还完。</p>
                                                            <p>类型:可以是按照设置的金额每期还款多少钱,也可以按照设置比例来确定每期还款多少钱</p>
                                                            <p>分期详情:具体设置每期的还款时间和还款金额。</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </fieldset>
                <div class="payment_method">
                    <div class="payment_method_top">
                        <ul>
                            <li :class='{on: index == 0}' @click="index = 0">会员消费</li>
                            <li :class='{on: index == 1}' @click="index = 1">普通消费</li>
                            <li style="cursor: not-allowed;">员工领用</li>
                            <li style="cursor: not-allowed;">协议单位</li>
                        </ul>
                    </div>
                    <div class="payment_method_left pull-left">
                        <ul>
                            <li class="on li1" v-if="index==0">
                                <div class="col-md7">
                                    <div class="col_md7_top">卡号/手机号码：
                                        <input type="text" v-model="member.num" oninput="value=value.replace(/[^\d]+/g,'')">
                                        <a href="javascript:;" class="btn btn-success" @click="searchByTelAndNo">搜索</a>
                                    </div>
                                    <div class="col_md7_botton">
                                        <table class="table table-bordered text-center table-hover">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>票券号码</th>
                                                <th>票券名称</th>
                                                <th>可用权益</th>
                                                <th>使用</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                                <td><label><input type="checkbox"></label></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div>显示更多</div>
                                    </div>
                                </div>
                                <div class="col-md5">
                                    <div>
                                        <div>会员卡号：<strong> 201807241100652 </strong></div>
                                        <div>会员名称：<strong>2年卡</strong></div>
                                        <div>卡中储值金额：<span>500.00 </span></div>
                                        <div>扣储值金额：<input type="text"></div>
                                        <div>充值卡剩余金额：<span>0.00</span></div>
                                        <div>扣卡中金额：<input type="text"></div>
                                        <div>输入凭证：<input type="text"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="on li2" v-if="index==1">
                                <div class="col-md7">
                                    <div class="col_md7_top">手机号码：<input type="text" name="" id=""> <a href="#"
                                                                                                       class="btn btn-success">搜索</a>
                                    </div>
                                    <div class="col_md7_botton">
                                        <table class="table table-bordered text-center table-hover">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>票券号码</th>
                                                <th>票券名称</th>
                                                <th>可用权益</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>201807246158</td>
                                                <td>抵用券</td>
                                                <td>110</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <div>显示更多</div>
                                    </div>
                                </div>
                                <div class="col-md5">
                                    <div>
                                        <div>票券可用总权益：<strong>600</strong></div>
                                        <div>输入使用权益：<input type="text"></div>
                                        <div>需补差价：<strong>600</strong></div>
                                        <fieldset>
                                            <legend>普通消费说明</legend>
                                            <div>
                                                <p>1、本阶段只支持系统存在的潜在客户消费;</p>
                                                <p>2、如果系统不存在的客户想用票券消费;</p>
                                                <div>
                                                    <p>1）新建潜在客户必须要有手机号码、姓名；</p>
                                                    <p>2）销售/赠送票券;</p>
                                                    <p>3）在本届面录入手机号码，如果有消费权益就会自动带出 ;</p>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="payment_method_box pull-left">
                        <fieldset style="border-color:red">
                            <legend style="color:#FF9900">支付方式</legend>
                            <div class="section2_boxs1_right">
                                <div class="section2_boxs1_top">
                                    <div>支付方式</div>
                                    <div>支付宝</div>
                                    <div>刷卡</div>
                                    <div>微信</div>
                                    <div>现金</div>
                                    <div>转账</div>
                                    <div>花呗</div>
                                    <div>其他支付</div>
                                </div>
                                <div class="section2_boxs1_botton">
                                    <div>金额</div>
                                    <div><span>￥</span><input type="text"></div>
                                    <div><span>￥</span><input type="text"></div>
                                    <div><span>￥</span><input type="text"></div>
                                    <div><span>￥</span><input type="text"></div>
                                    <div><span>￥</span><input type="text"></div>
                                    <div><span>￥</span><input type="text"></div>
                                    <div><span>￥</span><input type="text"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="payment_method_rigth pull-left">
                        <fieldset>
                            <legend style="color:#FF9900">折扣优惠</legend>
                            <div>
                                <div><label><input type="checkbox"><span>整单打折</span></label></div>
                                <div>
                                    <ul>
                                        <li><span>优惠折扣：</span> <input type="text"></li>
                                        <li><span>整单去零：</span> <input type="text"></li>
                                    </ul>
                                </div>
                                <div><label><input type="checkbox"><span>满额优惠</span></label></div>
                                <div>
                                    <ul>
                                        <li>满：<input type="text"></li>
                                        <li>减：<input type="text"></li>
                                    </ul>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="payment_method_rigth2 pull-left">
                        <fieldset style="border-color:#009900">
                            <legend style="color:#009900">支付详情</legend>
                            <div class="rows">
                                <div>
                                    <div class="col-md-6">小计：</div>
                                    <div class="col-md-6"> ￥<strong>6000.00</strong></div>
                                </div>
                                <div>
                                    <div class="col-md-6">折扣/优惠：</div>
                                    <div class="col-md-6">￥<strong>0.00</strong></div>
                                </div>
                                <div>
                                    <div class="col-md-6">抵扣金额：</div>
                                    <div class="col-md-6">￥<strong>0.00</strong></div>
                                </div>
                                <div>
                                    <div class="col-md-6">应付金额：</div>
                                    <div class="col-md-6">￥ <strong><span class="tored">6000.00</span></strong></div>
                                </div>
                                <div>
                                    <div class="col-md-6">未付金额：￥0.00</div>
                                    <div class="col-md-6">找零：<strong><span class="tored">￥0.00</span></strong></div>
                                </div>
                                <div style=" border-bottom: none">
                                    <div class="col-md-6"><a href="javascript:;" class="btn btn-default">挂账</a></div>
                                    <div class="col-md-6"><a href="javascript:;" class="btn btn-default">挂单</a></div>
                                </div>
                                <div style=" border-bottom: none">
                                    <div class="col-md-12">
                                        <a href="javascript:;" class="btn btn-success">结账</a>
                                    </div>
                                </div>
                                <div style=" border-bottom: none">
                                    <div class="col-md-12">
                                        <label>
                                            <input type="checkbox">
                                            <span>购置发票</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--表格1-->
    <div class="newCustomers_maskLayer performance" style="display:block;" id="clientList">
        <div class="newCustomers_maskLayer_box">
            <div class="newCustomers_maskLayer_box_top"><span>多个客户选择</span><a href="#" class="newCustomers_maskLayer_X" @click="colseX('clientList')">X</a>
            </div>
            <div class="KHGL-table-box">
                <table class="KHGL-table1" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>标识</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in optionClientList">
                        <td><span class="col-green" :value="item.id" @click="catcherClientList(item)">选择</span></td>
                        <td><span class="col-red">{{item.CustomerMark}}</span></td>
                        <td>{{item.clientName}}</td>
                        <td v-for="sexs in parameterList.sexList" v-if="sexs.vue == item.sex">{{sexs.lav}}</td>
                        <td>{{item.applyTime|formatDate(true)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 表格1 -->
</div>

<!-- 结账 -->

<script>

    var billVue = new Vue({
        el: '#customer-new-buy-project-bill-body',
        data: {
            billStatus: '',//判断是课程还是套餐
            index: 0, // tab的index
            reviewType: '', //审核类型
            formData: {//页面表单的数据
                orderInfo: {//订单信息
                    orderNo: '', //订单编号
                    createDate: '',
                },
                userInfo: { //用户信息
                    userId: $.cookie('cid'), //用户ID
                    data: {}, //存放用户的信息

                },
                payType: {//付款类型
                    index: '', //结账付款类型的序号
                    front: {//选择定金
                        date: '', //选择时间
                        money: '', //金额
                    },
                },
                gift: {//赠送
                    chooseUserId: '', //选择人Id
                    presenter: headVue.marketUserList, //赠送人列表
                    fingerprint: '', //指纹密码
                    msg: '', //验证信息
                    class: '', //验证的class
                },
                replacement: {//置换
                    chooseUserId: '', //选择人Id
                    unit: '', //置换单位名称
                    way: '', //置换方式
                    presenter: headVue.marketUserList, //赠送人列表
                    fingerprint: '', //指纹密码
                    msg: '', //验证信息
                    class: '', //验证的class
                }


            },
            member: {//会员消费
                num: '', //电话，卡号
            },
        },
        computed: {},
        watch: {
            'formData.gift.chooseUserId'(val){ //增送下拉框触发
                this.verifyUser();
            },
            'formData.replacement.chooseUserId'(val){//置换下拉框触发
                this.verifyUser();
            }
        },
        created: function () {
            //初始化加载用户信息
            this.load(); //初始化加载用户信息
            this.billStatus = newBuyVue.billStatus; //加载状态项
        },
        methods: {
            //初始化加载
            load(){
                //订单编号
                axiosGetFetch(COURSE_URL.getOrderNo, (response) => {
                    if (response.code === '200') {
                        let date = new Date();
                        //时间，小时前面不够补 '0'
                        this.formData.orderInfo.createDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() +
                            " " + (date.getHours() < 10 ? ("0" + date.getHours()) : date.getHours()) + ":" + date.getMinutes();
                        this.formData.orderInfo.orderNo = response.data;
                    }
                });
                //用户信息
                axiosGetParams(COURSE_URL.fetchUserInfo, {id: this.formData.userInfo.userId}, (response) => {
                    if (response.code === '200') {
                        this.formData.userInfo.data = response.data;
                    }
                });
            },
            //物理删除的方式删除该弹窗的全部html
            deleteBillHtml(){
                $('#customer-new-buy-project-bill-body').remove();
            },
            //员工的验证
            verifyUser(){
                let param = {}; //参数传递
                //判断当前选择的是赠送还是置换
                if (!this.reviewType) {
                    this.showPrompt('', '');//不做校样
                    return false; //说明没有选择到制定的赠送或者置换
                }
                if (this.reviewType === "gift") { //赠送类型
                    if (!this.formData.gift.chooseUserId || !this.formData.gift.fingerprint) { //必须都有存在
                        this.showPrompt('', '');//不做校样
                        return false;
                    }
                    param.PassWord = this.formData.gift.fingerprint;
                    param.id = this.formData.gift.chooseUserId;
                }
                //判断是否选择人员
                if (this.reviewType === "replacement") { //赠送类型
                    if (!this.formData.replacement.chooseUserId || !this.formData.replacement.fingerprint) { //必须都有存在
                        this.showPrompt('', '');//不做校样
                        return false;
                    }
                    param.PassWord = this.formData.gift.fingerprint;
                    param.id = this.formData.gift.chooseUserId;
                }
                //  console.log('执行验证操作')
                param.customerCode = $.cookie('code');
                param.ShopId = $.cookie('shopid');
                //开始验证 verifyPersonInfo
                axiosPostParams(COURSE_URL.verifyPersonInfo, param, (response) => {
                    if (response.code === '200') {
                        this.showPrompt(response.data, 'verify-success')
                    } else {
                        this.showPrompt(response.msg, 'verify-error')
                    }

                });
            },
            //提示框归类
            showPrompt(msg, className){
                if (this.reviewType === "gift") {
                    this.formData.gift.msg = msg;
                    this.formData.gift.class = className;
                }
                if (this.reviewType === "replacement") {
                    this.formData.replacement.msg = msg;
                    this.formData.replacement.class = className;
                }
            },
            //根据卡号，电话号码查询
            searchByTelAndNo(){}
        }
    });

</script>

<style>
    #customer-new-buy-project-bill-body .section4_box_top input[type="radio"] {
        top: 0px;
        margin-left: 1px;
    }

    #customer-new-buy-project-bill-body .section4_box_botton input[type="radio"] {
        top: 0px;
        margin-left: 1px;
    }

    #customer-new-buy-project-bill-body .section4_box_botton fieldset {
        display: block;
    }

    #customer-new-buy-project-bill-body .section4_box_botton .verify-error {
        color: red;
        text-align: left !important;
    }

    #customer-new-buy-project-bill-body .section4_box_botton .verify-success {
        color: green;
        text-align: left !important;;
    }

</style>
