<div id="course-new-buy-head">
    <div class="boxChoose on" style=" border-bottom: 0;">
        <p class="line">
            <label>
                <span>销售门店：</span>
                <select name="" v-model="shopId">
                    <!--<option value="" selected="">软件园店</option>-->
                    <option v-for='(item,index) in shopList' :value="item.id">
                        {{item.shopName}}
                    </option>
                </select>
            </label>
            <label>
                <span>选择场馆：</span>
                <select name="" v-model="sdaduimId">
                    <option v-for='(item,index) in sdaduimArrayList' :value="item.id">
                        {{item.name}}
                    </option>
                    <!--<option value="" selected="">美容院</option>-->
                </select>
            </label>
            <label>
                <span>协议编号：</span>
                <input type="text" placeholder="填写协议编号或者随机生成" v-model="agreementData"
                       @blur.prevent="checkCardAgreement"/>
                <span :class="agreementError.style">{{agreementError.msg}}</span>
                <span class="random" @click="addCardAgreement">随机号</span>

            </label>
            <label>
                <span>购买日期：</span>
                <span class="date">{{currentDate}}</span>
            </label>
        </p>
        <p class="line">
            <template v-show="sdaduimTypeResult.status">
                <label>
                    <span v-text="sdaduimTypeResult.selectTitle"></span>
                    <select name="" v-model="marketUserId">
                        <!--<option value="" selected="">Nicolas Klaus</option>-->
                        <option v-for='(item,index) in marketUserList' :value="item.id">
                            {{item.relName}}
                        </option>
                    </select>
                    <span class="distribution" @click="isShowPerformance = true">业绩分配</span>
                </label>
                <!-- 私教，团教 -->
                <template v-if="sdaduimTypeResult.type == 'teach'">
                    <label>
                        <span>销售类型</span>
                        <select v-model="sdaduimTypeResult.salesTypeId">
                            <option v-for='(item,index) in sdaduimTypeResult.salesType' :value="item">
                                {{item}}
                            </option>
                        </select>
                    </label>
                    <label>
                        <span>教练/教师</span>
                        <select v-model="sdaduimTypeResult.coachId">
                            <option v-for='(item,index) in sdaduimTypeResult.coach' :value="item.id">
                            {{item.relName}}
                            </option>
                            <!--<option value="1">dddd</option>-->
                        </select>
                    </label>
                    <label>
                        <span>助教</span>
                        <select  v-model="sdaduimTypeResult.assistantId">
                            <option v-for='(item,index) in sdaduimTypeResult.assistant' :value="item.id">
                                {{item.relName}}
                            </option>
                            <!--<option value="1">dddd</option>-->
                        </select>
                    </label>
                </template>
                <!-- 美容馆 -->
                <template v-if="sdaduimTypeResult.type == 'dress'">
                    <label>
                        <span>美容师（可不填）</span>
                        <select name="" v-model="sdaduimTypeResult.coachId">
                            <option v-for='(item,index) in sdaduimTypeResult.coach' :value="item.id">
                                {{item.relName}}
                            </option>
                            <!--<option value="1">dddd</option>-->
                        </select>
                    </label>
                    <label>
                        <span>美容助理（可不填）</span>
                        <select v-model="sdaduimTypeResult.assistantId">
                            <option v-for='(item,index) in sdaduimTypeResult.assistant' :value="item.id">
                                {{item.relName}}
                            </option>
                            <!--<option value="1">dddd</option>-->
                        </select>
                    </label>
                </template>
            </template>

        </p>

    </div>
    <!-- 业绩分配 -->
    <div id="performance" class="newCustomers_maskLayer" v-show="isShowPerformance"
         style="display: block;z-index: 9999;">
        <div class="newCustomers_maskLayer_box">
            <div class="newCustomers_maskLayer_box_top">
                <span>销售业绩分配</span><a href="javascript:;" @click="deleteMask"
                                      class="newCustomers_maskLayer_X">X</a>
            </div>
            <div class="newCustomers_maskLayer_box_shen">
                <fieldset>
                    <legend>销售价格分配比例/金额</legend>
                    <div>
                        <label><input type="radio" v-model="performance.salesType" value="rate">以实际销售价格</label>
                        <label><input type="text" placeholder="分配比例"
                                      v-model="performance.salesValueSales"
                                      oninput="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')"
                        >%为销售业绩</label>

                        <label><input type="radio" v-model="performance.salesType" value="num">以实际销售价格</label>
                        <label><input type="text" placeholder="分配金额" v-model="performance.salesValueNum"
                                      oninput="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')">元为销售业绩</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>销售人员销售业绩分配比例/金额</legend>
                    <div>

                        <div>
                            <label><input type="radio" value="rate"
                                          v-model="performance.distributionType">销售业绩按比例分配</label>
                            <label><input type="radio" value="num"
                                          v-model="performance.distributionType">销售业绩按金额分配</label>
                        </div>
                        <div>
                            选择销售人员：
                            <select name="1" v-model="performance.saleId">

                                <option v-for='(item,index) in marketUserList' :value="item.id">
                                    {{item.relName}}
                                </option>
                            </select>
                            <input type="text" placeholder="分配比例/金额" v-model="performance.result"
                                   oninput="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')">
                            <a href="javascript:;" class="btn btn-primary" @click="addDistribution">添加</a>
                        </div>

                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>销售人员</th>
                                <th>分配比例/金额</th>
                                <th>操作</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in performance.list">
                                <td v-text="index + 1"></td>
                                <td v-text="item.saleName"></td>
                                <td v-text="item.num"></td>
                                <td>
                                    <a href="#">修改</a>
                                    /<a href="#">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </fieldset>
            </div>
            <div class="newCustomers_maskLayer_box_botton">
                <a href="javascript:;" class="btn btn-success" @click="savePerformance">保存</a>
            </div>
        </div>
    </div>


</div>
<script>
    new Vue({
        el: '#course-new-buy-head',
        data: {
            shopList: [], //门店列表
            shopId: '', //门店Id
            agreementError: {
                msg: '',
                style: 'ag-general'
            }, //协议的错误信息 以及样式
            agreementData: '', //协议号
            code: '', //客户代码
            currentDate: '', //用当前时间计算购买日期
            marketUserList: [], //销售人员list
            marketUserId: "", //销售人员ID
            sdaduimArrayList: [], //场馆数组对象
            sdaduimId: '', //场馆ID
            isShowPerformance: false, //是否显示业绩分配的弹窗
            performance: { //销售业绩分配的一个对象obj
                salesType: '', //比例，金额 类型
                salesValueSales: '', //默认为0
                salesValueNum: '', //默认为0
                distributionType: '', //分配的类型
                result: '', //业绩分配填写的数据
                saleName: '', //选择的销售人员的姓名
                saleId: '', //选择的销售人员的Id
                list: [], //销售人员数组
                isSave: false, //是否数据被保存

            },
            //选择场馆显示销售类型
            sdaduimType: {
                teach: {//私教，团教
                    type: 'teach', //类型
                    id: COURSE_CONSTANT.sdaduimTypeTeachId, //默认id
                    status: false, //默认不现实
                    selectTitle: 'POS/销售人员：', //选择的头部类型
                    salesType: ["POS销售","新会员购买","续课","场地开课","BR销售","横推销售","跟进销售"], //销售类型，写死数据
                    coach: [], //教练数组
                    assistant: [], //助教数组
                    coachId: '', //教练Id
                    assistantId: '', //助教Id
                    salesTypeId: '', //销售类型Id

                },
                dress: {//美容彩妆 id
                    type: 'dress', //类型
                    id: COURSE_CONSTANT.sdaduimTypeRetailId, //默认id
                    status: false, //默认不现实
                    selectTitle: '美容销售人员：', //选择的头部类型
                    coach: [], //教练数组
                    assistant: [], //助教数组
                    coachId: '', //教练Id
                    assistantId: '', //助教Id
                },
                retail: {//商业零售 id
                    type: 'retail', //类型
                    id: COURSE_CONSTANT.sdaduimTypeRetailId, //默认id
                    status: false, //默认不现实
                    selectTitle: '销售人员：', //选择的头部类型
                },
                other: { //选择其他
                    selectTitle: '销售人员：', //选择的头部类型
                    status: true, //默认现实
                }
            },
            sdaduimTypeResult: {
                type: '', //类型
                id: '', //默认id
                status: false, //默认不现实
                selectTitle: '', //选择的头部类型
                salesType: [], //销售类型，写死数据
                coach: [], //教练数组
                assistant: [], //助教数组
                coachId: '', //教练Id
                assistantId: '', //助教Id
                salesType: '', //销售类型
            }, //选择场馆的结果展现

        },
        computed: {},
        watch: {
            shopId(){//当选择了门店，初始化销售人员, 初始化场馆
                this.getMarketUserList();
                this.getSdaduimByShopId();
            },
            'performance.saleId'(val){ //获取销售人员的姓名
                this.performance.saleName = this.marketUserList.find(item => item.id === val)['relName'];
            },
            sdaduimId(val){//根据场馆id选择销售id,类型
                let businessTypeId = this.sdaduimArrayList.find(item => {
                    return item.id == val;
                })['businessTypeId'];
                this.sdaduimTypeResult = this.sdaduimType.other;
                //判断当前的typeID 属于哪一个类型的
                for(let key in this.sdaduimType){
                    let obj = this.sdaduimType[key];
                    if(businessTypeId == obj['id']){
                        this.sdaduimTypeResult = obj;
                        continue;
                    }
                };
                //
                if(this.sdaduimTypeResult.type == "teach"){
                    let userType = 3,array = [];
                    axiosGetParams(COURSE_URL.fetchTechnician, {businessTypeId: businessTypeId, userType: userType}, (response) => {
                        if (response.code === '200') {

                            this.sdaduimTypeResult.coach = response.data;
                        }
                    });
                    userType = 4;
                    axiosGetParams(COURSE_URL.fetchTechnician, {businessTypeId: businessTypeId, userType: userType}, (response) => {
                        if (response.code === '200') {
                            this.sdaduimTypeResult.assistant = response.data;
                        }
                    })
                }
                //
                if(this.sdaduimTypeResult.type == "dress"){
                    let userType = 3;
                    axiosGetParams(COURSE_URL.fetchTechnician, {businessTypeId: businessTypeId, userType: userType}, (response) => {
                        if (response.code === '200') {
                            this.sdaduimTypeResult.coach = response.data;
                        }
                    });
                    userType = 4;
                    axiosGetParams(COURSE_URL.fetchTechnician, {businessTypeId: businessTypeId, userType: userType}, (response) => {
                        if (response.code === '200') {
                            this.sdaduimTypeResult.assistant = response.data;
                        }
                    })
                }




            }
        },
        created: function () {
            let date = new Date();
            this.sdaduimTypeResult = this.sdaduimType.other;
            //定义初始化参数
            this.code = $.cookie("code");
            this.currentDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
            this.loadShopList();//初始化加载门店列表
        },
        methods: {
            //加载门店list
            loadShopList: function () {
                this.shopList = []; //清空门店
                let obj = {}, data = null;
                axiosGetParams(COURSE_URL.marketShop, {type: 0}, (response) => {
                    if (response.code === '200') {
                        data = response.data.data;
                        $.each(data, (i, d) => {
                            if (i == 0) {
                                this.shopId = d.id;
                            }
                            obj.shopName = d.shopName;
                            obj.id = d.id;
                            this.shopList.push(obj);
                            obj = {};
                        })

                    }
                })
            },
            //检查协议编号
            checkCardAgreement(){
                var myreg = /^[0-9]*$/;
                if (!myreg.test(this.agreementData)) {
                    this.agreementError.style = "ag-error";//验证出错，提示框
                    this.agreementError.msg = "输入有误，请输入数字";
                    return false;
                }
                axiosGetParams(COURSE_URL.checkAgreement, {agreement: this.agreementData}, (response) => {
                    if (response.code === '200') {
                        this.agreementError.style = "ag-success";
                        this.agreementError.msg = "协议号符合规则";
                    } else {
                        this.agreementError.msg = response.msg;
                        this.agreementError.style = "ag-error";
                    }
                })

            },
            //新增协议编号
            addCardAgreement(){
                axiosGetParams(COURSE_URL.addAgreement, {code: this.code}, (response) => {
                    if (response.code === '200') {
                        this.agreementData = response.data.agreement
                        this.agreementError.msg = "协议号符合规则";
                        this.agreementError.style = "ag-success";
                    } else {
                        this.agreementError.msg = response.msg;
                        this.agreementError.style = "ag-error";
                    }
                })
            },
            //获取销售人员 marketUserList
            getMarketUserList(){
                let obj = {}, data = null;
                this.marketUserList = [];// 清空原来的数组
                axiosGetParams(COURSE_URL.marketUserList, {shopId: this.shopId}, (response) => {
                    if (response.code === '200') {
                        //marketUserList
                        data = response.data.data;
                        $.each(data, (i, d) => {
                            if (i == 0) {
                                this.marketUserId = d.id;
                            }
                            obj.relName = d.relName;
                            obj.id = d.id;
                            this.marketUserList.push(obj);
                            obj = {};
                        })
                    }
                })
            },
            //获取场馆 根据门店ID
            getSdaduimByShopId(){
                let data = null;
                this.sdaduimArrayList = []; //门店被选择时，清空原来的场馆数据
                $.ajax({
                    type: "post",
                    url: baseUrl + COURSE_URL.fetchSdaduim,
                    data: {
                        sids: [this.shopId]
                    },
                    success: (res) => {
                        if (res.code == '200') {
                            data = res.data[0];// 获取第一个对象
                            if (data) {
                                let array = data['sdaduimArrayList'], obj = {};
                                $.each(array, (i, d) => {
                                    if (i == 0) {
                                        this.sdaduimId = d.id;
                                    }
                                    obj.name = d.name;
                                    obj.id = d.id;
                                    obj.businessTypeId = d.businessTypeId;
                                    this.sdaduimArrayList.push(obj);
                                    obj = {};
                                })

                            }
                        }

                    }
                });

            },
            //添加分配的金额或者比例
            addDistribution(){
                if (this.performance.saleId == "" || this.performance.saleName == "") {
                    return false; //没有选择销售人员，不让添加
                }
                let obj = {};
                obj.saleId = this.performance.saleId;
                obj.saleName = this.performance.saleName;
                obj.num = this.performance.result == "" ? 0 : this.performance.result;
                //加入数组之前判断数据是否已经存在
                let index = this.performance.list.findIndex((item) => {
                    return item.saleId === obj.saleId
                });
                if (index !== -1) {
                    this.performance.list.splice(index, 1);//删除下标是index的对应数据
                }
                //判断是否存在结束
                this.performance.list.push(obj);
                obj = {};

            },
            //点击业绩分配的X按钮
            deleteMask(){
                this.isShowPerformance = false;
                //并晴空数据
                this.performance = { //销售业绩分配的一个对象obj
                    salesType: '', //比例，金额 类型
                    salesValueSales: '', //默认为0
                    salesValueNum: '', //默认为0
                    distributionType: '', //分配的类型
                    result: '', //业绩分配填写的数据
                    saleName: '', //选择的销售人员的姓名
                    saleId: '', //选择的销售人员的Id
                    list: [], //销售人员数组
                    isSave: false, //是否数据被保存
                };
            },
            //保存业绩分配
            savePerformance(){
                this.isSave = true; //保存数据
                this.isShowPerformance = false;//关闭弹窗
            }
        }
    });

</script>
