<div id="course-new-buy-package-body">
    <div class="boxChoose on" style=" border-top: 0;">
        <p class="line">
            <label>
                <span>选择购买的套餐：</span>
                <input type="text" placeholder="选择购买项目/商品" readonly="readonly" v-model="formData.project"/>
                <span class="project" @click="product.isShow = true">选择项目</span>
            </label>
            <label>
                <span>售价：</span>
                <input type="text" placeholder="单价由套餐自动带出" readonly="readonly" v-model="formData.projectPrice"/>
            </label>
            <label>
                <span>可用消费最多数量：</span>
                <input type="text" placeholder="最多数量" oninput="value=value.replace(/[^\d]+/g,'')"
                       v-model="formData.salesNum"/>
                <span class="red">前台可以执行修改最多数量，但不能超过套餐产品详情的指定数量之和</span>
            </label>
        </p>
        <p class="line">
            <label for="project_label_id1">
                <span id="project_label_id1">选择有效期：</span>
                <input type="radio" name="month" v-model="formData.validityPeriod" value="1"/>1个月
                <input type="radio" name="month" v-model="formData.validityPeriod" value="3"/>3个月
                <input type="radio" name="month" v-model="formData.validityPeriod" value="6"/>6个月
                <input type="radio" name="month" v-model="formData.validityPeriod" value="12"/>12个月
                <input type="radio" name="month" v-model="formData.validityPeriod" value="all"/>与会员卡同期
                <input type="radio" name="month" v-model="formData.validityPeriod" value="other"/>自定义
                <input type="text"
                       placeholder="月数"
                       class="to50"
                       oninput="value=value.replace(/[^\d]+/g,'')"
                       v-model="formData.customize"/>个月
                <span class="red">有效期指的是：项目或者商品的有效期，有效期内才能享受项目/商品的权益</span>
            </label>
        </p>
        <p class="line">
            <label>
                <span>开始日期：</span>
                <input type="date" v-model="formData.beginDate"/>
            </label>
            <label>
                <span>失效日期：</span>
                <span v-text="formData.endDate"></span>
            </label>
        </p>
        <div class="line">
            <label>
                <span>套餐产品详情：<span class="red">(可消费项目)</span></span>
                <table border="1" bordercolor="#ccc">
                    <thead>
                    <tr>
                        <td>门店</td>
                        <td>场馆</td>
                        <td>项目/产品</td>
                        <td>指定数量</td>
                        <td>每天限用数量</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for='(item,index) in packageProduct.data'>
                        <td v-text="item.shop"></td>
                        <td v-text="item.sdadium"></td>
                        <td v-text="item.project"></td>
                        <td v-text="item.num"></td>
                        <td v-text="item.limitNum"></td>
                    </tr>
                    </tbody>
                </table>
            </label>
        </div>
        <p class="line">
            <input type="submit" value="去结账" class="check" @click="billFull"/>
        </p>
    </div>
    <!-- 选择项目弹窗 -->
    <div id="product" class="newCustomers_maskLayer" v-show="product.isShow" style="display: block;">
        <div class="newCustomers_maskLayer_box">
            <div class="newCustomers_maskLayer_box_top">
                <span>现在项目/课程</span><a href="javascript:;" class="newCustomers_maskLayer_X"
                                       @click="product.isShow = false">X</a>
            </div>
            <div class="newCustomers_maskLayer_box_shen">
                <div class="shen_top">
                    <span>
                        <span>当前门店：</span>
                        <strong>软件园店</strong>
                    </span>
                    <span>
                        <span>当前场馆</span>
                        <strong>软件园店</strong>
                    </span>

                    <span style="float: right;">
                        <input style="float: none;">
                        <a href="javascript:;" class="btn btn-primary" style="height: 30px;line-height: 13px;">查询</a>
                    </span>

                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>门店</th>
                        <th>场馆</th>
                        <th>项目</th>
                        <th>市场价</th>
                        <th>售价（节/元）</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for='(item,index) in product.data'>
                        <td class="tored" @click="checkProject(item)">选择</td>
                        <td v-text="item.shop"></td>
                        <td v-text="item.sdadium"></td>
                        <td v-text="item.project"></td>
                        <td>{{item.price| toManey}}</td>
                        <td>{{item.sale| toManey}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 选择项目弹窗 -->

    <!-- 结账 -->
    <div id="customer-new-buy-project-bill">

    </div>
    <!-- 结账 -->
</div>


<script>
    var packageVue = new Vue({
        el: '#course-new-buy-package-body',
        data: {
            billHtml: './course/new-buy/bill.html', //结算的html
            formData: { //所有数据写在from表单中
                buyNum: "", //购买数量
                giftNum: "", //赠送数量
                useNum: "", //可用数量
                customize: '', //选择自定义
                cardDate: '', //与会员卡同期
                validityPeriod: '1', //项目有效期 //按天数来算
                beginDate: '', //开始时间
                endDate: '', //失效时间 = 结束时间
                project: '', //项目名称
                projectId: '', //项目Id
                projectPrice: '', //项目单价
                salesNum: '', //销售最多数量
                time: '', //同期失效时间
                cardId: '', //会员卡
            },
            product: { //选择项目项
                isShow: false,
                data: [
                    {
                        shop: '1',
                        shopId: '1',
                        sdadium: '1',
                        sdadiumId: '1',
                        project: '1',
                        projectId: '1',
                        price: '1',
                        sale: '1',
                        courseId: '1', //课程id
                        courseSeriesId: '1', //课程系列id
                    }
                ],
            },
            packageProduct: { //套餐产品的列表数据 套餐产品详情
                data: [
                    {
                        shop: '1',
                        shopId: '1',
                        sdadium: '1',
                        sdadiumId: '1',
                        project: '1', //项目产品
                        projectId: '1',
                        num: '1', //指定数量
                        limitNum: '1' //每天限用数量
                    }
                ]
            },
            selectData: {}, //选择项目的对象
        },
        computed: {},
        filters: {
            formatDate: function (time, type, typeT) {
                if (!time) {
                    return '';
                }
                var _time = timeFormatDate(time, type, typeT);
                return _time;
            },
            toManey: function (val) {
                if (!val || 'undefined' == typeof(val)) {
                    return parseFloat(0).toFixed(2);
                    ;
                }
                return parseFloat(val).toFixed(2);
            }
        },
        watch: {
            'formData.beginDate'(value){ //开始时间改变触发失效时间
                if (!value) {
                    return false;
                }
                let date = new Date(value);
                let validity = this.formData.validityPeriod; //有效期选择的项
                this.formData.cardId = '';
                //这里判断val 的值
                if (validity == "all") {
                    //会员卡同期
                    this.formData.endDate = this.formData.time.split(' ')[0];
                    return false;
                }
                if (validity == "other") {
                    validity = this.formData.customize;
                    if (!validity) {
                        validity = 0;
                    }
                    validity = parseInt(validity) || 0;
                }

                date.setMonth(date.getMonth() + parseInt(validity));
                this.formData.endDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();

            },
            'formData.validityPeriod'(val){ //选择有效期时间
                let date = new Date(this.formData.beginDate);
               // this.formData.cardId = '';
                //这里判断val 的值
                if (val == "all") {
                    //会员卡同期
                    this.formData.endDate = this.formData.time.split(' ')[0];
                    if(this.formData.endDate == ""){
                        this.formData.validityPeriodTime = 0;
                        return false;
                    }
                    let now = new Date();
                    let endDate = new Date(this.formData.endDate);
                    this.formData.validityPeriodTime = Math.ceil((endDate - now)/ (1000*60*60*24*30));// 计算出来，月份
                    return false;
                }
                if (val == "other") {
                    val = this.formData.customize;
                    if (!val) {
                        val = 0;
                    }
                }

                //设置有效期时间月数，保存数据库
                this.formData.validityPeriodTime = val;
                date.setMonth(date.getMonth() + parseInt(val))
                this.formData.endDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
            },
            'formData.customize'(val){
                if (!val) {
                    val = 0;
                }
                if (this.formData.validityPeriod == "other") {
                    let date = new Date(this.formData.beginDate);
                    date.setMonth(date.getMonth() + parseInt(val))
                    this.formData.endDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                    this.formData.validityPeriodTime = val;
                }

            },
            'formData.salesNum'(val, oldVal){ //销售最多数量
                let array = this.packageProduct.data,totalNum = 0;
                $.each(array, (i, d) => {
                    totalNum += parseInt(d.num);
                });
                if(parseInt(val) > totalNum){
                    this.formData.salesNum = oldVal;
                }
            }
            //
        },
        created: function () {
            let date = new Date();
            this.formData.beginDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
            this.formData.endDate = this.formData.beginDate;
            //获取会员卡的列表，计算日期
            //queryByFrCardList
            let param = {
                page: -1,
                rows: -1,
                clientId: $.cookie('cid'),
                code: $.cookie('code'),
            };
            jqueryPostParams(COURSE_URL.queryByFrCardList, param,
                (res) => {
                    let cardId = '-1',time = '';
                    if (res.code == '200') {
                        let now = new Date();
                        let data = res.data;
                        let m = 0;
                        $.each(data, (i, d) => {
                            if (d.status == 0) {
                                let invalidTime = d['invalidTime'];
                                let theDate = new Date(invalidTime);
                                let b = theDate - now;
                                if (b > 0 && b > m) {
                                    m = b;
                                    time = invalidTime;
                                    cardId = d['cardNo']
                                }
                            }
                        });
                    }
                    this.formData.cardId = cardId; //设置卡片ID 否则-1
                    this.formData.time = time; //与会员卡同期的时间
                }
            )
        },
        mounted(){ //初始化
            //test
            //this.billFull();
        },
        methods: {
            billFull(){//结账
//                let saleId = headVue.marketUserId,
//                    salesNum = this.formData.salesNum;
//                //结账前判断验证
//                if(!this.formData.projectId){
//                    alert("请选择项目");
//                    return false;
//                }
//                //判断销售ID  performance.saleId
//                if(!saleId){
//                    alert("请选择销售人员");
//                    return false;
//                }
//                if(!salesNum || salesNum === '0'){
//                    alert("请输入消费最多数量");
//                    return false;
//                }

                Vue.set(newBuyVue, 'billStatus', 'package')
                $('#customer-new-buy-project-bill').load(this.billHtml)
            },
            checkProject(item){//选择项目
                this.product.isShow = false; //隐藏
                this.formData.project = item.project;
                this.formData.projectId = item.projectId;
                this.formData.projectPrice = item.sale;
                this.selectData = item;
            }

        }
    });

</script>
