<li class="list4 list5 list on" id="course-remnant">
    <fieldset class="fieldset1">
        <legend>操作项目/产品</legend>
        <select name="" v-model="index">
            <option value="" v-for="(item, index) in result"  :value="index">

                所在门店：{{item.shop.shopName}} 所在场馆：{{item.sdaduim.name}} 项目/产品名称：私教课程30节
                数量：{{item.projectOrder.buyCount + item.projectOrder.sendCount | toNum}}
                （{{item.projectOrder.buyCount| toNum}}+ <span class="yellow">{{item.projectOrder.sendCount|toNum}}</span> ）
                已消费数量：{{item.addProjectConsumes.length| toNum}} 价格：{{(item.projectOrder.totalPrice/(item.projectOrder.buyCount + item.projectOrder.sendCount))
                * (item.addProjectConsumes.length)|toMoney}}
                剩余价格：{{(item.projectOrder.totalPrice/(item.projectOrder.buyCount + item.projectOrder.sendCount))
                * ((item.projectOrder.buyCount + item.projectOrder.sendCount) - item.addProjectConsumes.length)|toMoney}}
                有效期：{{item.addProject.useful}} 个月 结束时间：{{item.addProject.endTime| formatDate2}}
                状态：<span class="blod">{{item.addProject.state |stateFilter}}</span>
            </option>
        </select>
    </fieldset>
    <fieldset class="fieldset2">
        <legend>补余</legend>
        <p class="date">
            <label >
                需付款：{{totalPrice|toMoney}}
            </label>
            <label >
                已付款：<span class="yellow">{{price|toMoney}}</span>
            </label>
            <label >
                欠款：<span class="red">{{noPrice|toMoney}}</span>
            </label>
        </p>
        <p>操作人：{{clientName}} 当前操作时间：{{now| formatDate2}}</p>
        <p><span class="useful"  @click="save" >补余</span></p>
    </fieldset>
    <div class="tabTitle">补余记录</div>
    <table border="1" bordercolor="#ccc">
        <thead>
        <tr>
            <td>序号</td>
            <td>创建时间</td>
            <td>所在门店</td>
            <td>所在场馆</td>
            <td>项目/产品名称</td>
            <td>总价</td>
            <td>已付金额</td>
            <td>补余金额</td>
            <td>还欠款金额</td>
            <td>有效期</td>
            <td>开始时间</td>
            <td>结束时间</td>
            <td>操作时间</td>
            <td>操作人</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in tableList">
            <td>{{index + 1}}</td>
            <td>{{item.frProjectRemnantRecord.createTime| formatDate2}}</td>
            <td>{{item.shop.shopName}}</td>
            <td>{{item.sdaduim.name}}</td>
            <td>私教课程30节</td>
            <td>{{item.projectOrder.totalPrice|toMoney}}</td>
            <td>{{item.projectOrder.totalPrice|toMoney}}</td>
            <td>{{item.frProjectRemnantRecord.remnantPrice|toMoney}}</td>
            <td>0</td>
            <td>{{item.addProject.useful}}</td>
            <td>{{item.addProject.startTime| formatDate2}}</td>
            <td>{{item.addProject.endTime| formatDate2}}</td>
            <td>{{item.frProjectRemnantRecord.operateDate| formatDate2}}</td>
            <td>{{item.personnelInfo.relName}}</td>
        </tr>


        </tbody>
    </table>

</li>

<script>
    var remnantVue = new Vue({
        el: '#course-remnant',
        data: {
            toDisabled: false,
            orderId: '', //订单表ID
            index: '', //序列
            result: [], //数据
            selectData: {}, //选择的数据
            now: new Date(), //当前时间
            clientName: $.cookie('name'), //当前系统人名
            cid: $.cookie('cid'), //当前系统人id
            password: '', //输入的密码
            status: false, //严重状态
            startTime: '', //原开始时间
            tableList: [], //表格历史记录
            price: '', //已付款金额
            totalPrice: '', //实际付款金额
            noPrice: '', //实际欠款金额
        },
        filters: {
            stateFilter: function (val) {
                let back = "";
                if((val + "") == "0"){
                    back = "正常"
                }
                if((val + "") == "1"){
                    back = "欠款"
                }
                if((val + "") == "2"){
                    back = "过期"
                }
                if((val + "") == "3"){
                    back = "历史"
                }
                if((val + "") == "4"){
                    back = "未开始"
                }

                return back;
            },
            formatDate(val){
                if(!val){
                    return "";
                }
                return timeFormatDate(val, true, false);
            },
            toNum(val){

                if(!val){
                    return '0';
                }
                return val;
            },
            toMoney: function (val) {
                if (!val || 'undefined' == typeof(val)) {
                    return parseFloat(0).toFixed(2);
                }
                return parseFloat(val).toFixed(2);
            },
            payStatus(item){
                //现金：￥1000.00 支付宝：￥600.00
                let str = '';
                if(parseFloat(item.cashPrice) > 0){
                    str += '现金：￥' + parseFloat(item.cashPrice).toFixed(2)
                }
                if(parseFloat(item.alipayPrice) > 0){
                    str += '支付宝：￥' + parseFloat(item.alipayPrice).toFixed(2)
                }
                if(parseFloat(item.payCardPrice) > 0){
                    str += '刷卡：￥' + parseFloat(item.payCardPrice).toFixed(2)
                }
                if(parseFloat(item.wechatPrice) > 0){
                    str += '微信：￥' + parseFloat(item.wechatPrice).toFixed(2)
                }
                if(parseFloat(item.accountsPrice) > 0){
                    str += '转账：￥' + parseFloat(item.accountsPrice).toFixed(2)
                }
                if(parseFloat(item.flowerPrice) > 0){
                    str += '花呗：￥' + parseFloat(item.flowerPrice).toFixed(2)
                }
                if(parseFloat(item.otherPrice) > 0){
                    str += '其他：￥' + parseFloat(item.otherPrice).toFixed(2)
                }
                return str;
            },
            formatDate2(val){
                if(!val){
                    return "";
                }
                return timeFormatDate(val, false, false);
            },
            saleType(val){
                if(val === 0){
                    return "POS销售";
                }
                if(val === 1){
                    return "新会员购买";
                }
                if(val === 2){
                    return "续课";
                }
                if(val === 3){
                    return "场地开课";
                }
                //销售类型 0 POS销售 1 新会员购买 2 续课 3 场地开课
            }
        },
        computed: {},
        watch: {
            index(val){
                this.selectData = this.result[val];
            },
            'selectData':{
                handler(val){
                    this.price = val.projectOrder.totalPrice - val.projectOrder.noPrice + parseFloat(val.sysConsumeOrder.cashPledge);//已付款金额
                    this.totalPrice = val.projectOrder.totalPrice;//实际付款金额
                    this.noPrice = val.projectOrder.noPrice;//实际欠款金额
                    //已付款要加上定金

                },
                deep: true,
            },

        },
        created: function () {

        },
        mounted(){// 初始化加载
            this.search();//
        },
        methods: {
            //查询记录
            search(){
                let interval = setInterval(()=>{
                    this.result = customerCourseProject.resultList;
                  //  this.tableList = this.result; //便利表格
                    //计算记录
                    let array = [];
                    $.each(this.result, (i,d)=>{
                        if(d.frProjectRemnantRecord){
                            array.push(d);
                        }
                    });
                    this.tableList = array;
                    if(this.result.length > 0){
                        this.index = 0;//初始化index
                        clearInterval(interval);
                    }
                },500)
            },
            //启用
            save(){
                if(this.toDisabled !== false){
                    return false;

                }
                this.toDisabled = true;
                //继续操作启用动作
                //判断当前是否正常
                if(!this.selectData.addProject){
                    alert("请选择项目")
                    return false;
                }
                if(this.selectData.addProject['state'] !== 1){
                    alert("请选择欠款项目");
                    return false;
                }
                let param = {};
                param.orderId = this.selectData.addProject.id;
                param.cid = $.cookie('cid');

                axiosPostParams(COURSE_URL.customerRemnant, param, (res)=>{
                    if (res.code === '200') {
//                        customerCourseProject.$options.methods.loadData();//加载数据
//                        this.search();
                        window.location.reload()
                        alert("补余成功");

                    }else{
                        alert('补余失败,请重试');
                        this.toDisabled = false;
                    }
                })
            }

        }
    });
</script>