<li class="list4 list8 list on" id="course-return-monty">
    <fieldset class="fieldset1">
        <legend>操作项目/产品</legend>
        <select name="" v-model="index">
            <option value="" v-for="(item, index) in result"  :value="index">

                所在门店：{{item.shop.shopName}} 所在场馆：{{item.sdaduim.name}} 项目/产品名称：私教课程30节
                数量：{{item.projectOrder.buyCount + item.projectOrder.sendCount | toNum}}
                （{{item.projectOrder.buyCount| toNum}}+ <span class="yellow">{{item.projectOrder.sendCount|toNum}}</span> ）
                已消费数量：{{item.addProjectConsumes.length| toNum}} 价格：{{(item.projectOrder.totalPrice/(item.projectOrder.buyCount + item.projectOrder.sendCount))
                * (item.addProjectConsumes.length)|toMoney}}
                剩余价格：{{(item.projectOrder.totalPrice/(item.projectOrder.buyCount + item.projectOrder.sendCount))
                * ((item.projectOrder.buyCount + item.projectOrder.sendCount) - item.addProjectConsumes.length)|toMoney}}
                有效期：{{item.addProject.useful}} 个月 结束时间：{{item.addProject.endTime| formatDate2}}
                状态：<span class="blod">{{item.addProject.state |stateFilter}}</span>
            </option>
        </select>
    </fieldset>
    <fieldset class="fieldset2">
        <legend>退费操作</legend>
        <p class="date">
            <label >
                退费金额：<span class="red">￥{{returnMoney |toMoney}}</span>
            </label>
            <label >
                退费手续费：<input type="text" v-model="fee" placeholder="0.00" oninput="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')"/>
            </label>
            <label >
                需退金额：<span class="red">￥{{returnMoney |toMoney}}</span>
            </label>
        </p>
        <p>
            <label >
                销售人员：{{saleName}}
                <!-- （<span class="grey">已离职</span>） -->
            </label>
            <label >
                是否扣除销售员当月业绩：
                <input type="radio" value="1" name="1" style="height: 15px;" v-model="deduct"/>是
                <input type="radio" value="0" name="1" style="height: 15px;" v-model="deduct"/>否
            </label>
        </p>
        <p>
            <label >
                退款方式：
                <select v-model="payType">
                    <option value="0">现金</option>
                    <option value="1">刷卡</option>
                    <option value="2">微信</option>
                    <option value="3">支付宝</option>
                </select>
            </label>
            <label >
                退款账号：
                <input type="text" v-model="count"/>
                <span class="red">如果现金退款。此项不填</span>
            </label>
        </p>
        <p>
            <label >
                操作人：{{clientName}}
            </label>
            <label >
                输入凭证：<input type="text" v-model="password" @blur="verifyUser"/>
            </label>
        </p>
        <p><span class="useful" @click="save">确认退款</span></p>
    </fieldset>
    <div class="tabTitle">退费记录</div>
    <table border="1" bordercolor="#ccc">
        <thead>
        <tr>
            <td>序号</td>
            <td>退卡时间</td>
            <td>产品名称</td>
            <td>需退金额</td>
            <td>退卡手续费</td>
            <td>退款类型</td>
            <td>退款账号</td>
            <td>原业绩归属</td>
            <td>是否扣除销售员当月业绩</td>
            <td>操作人</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in tableList">
            <td>{{index+1}}</td>
            <td>{{item.createTime|formatDate}}</td>
            <td>私教课程30节</td>
            <td class="red">{{item.returnMoney| toMoney}}</td>
            <td>{{item.returnMoney| toMoney}}</td>
            <td>{{item.turnProject.payType| stateFilter1}}</td>
            <td>{{item.ReturnNumber| accountNum}}</td>
            <td>{{item.SaleName}}</td>
            <td>{{item.raShopid == '1'? '是': '否'}}</td>
            <td>{{item.CreateName}}</td>
        </tr>
        </tbody>
    </table>
</li>


<script>
    var returnMoneyVue = new Vue({
        el: '#course-return-monty',
        data: {
            orderId: '', //订单表ID
            index: '', //序列
            result: [], //数据
            selectData: {}, //选择的数据
            now: new Date(), //当前时间
            clientName: $.cookie('name'), //当前系统人名
            cid: $.cookie('cid'), //当前系统人id
            password: '', //输入的密码
            status: false, //严重状态
            startTime: '', //原开始时间
            //
            returnMoney: '',
            fee: '',
            saleName: '',
            endCount: 0, //剩余次数
            payType: '3',
            count: '', //账号
            deduct: '', //是否扣除业绩
            tableList:[],

        },
        filters: {
            stateFilter: function (val) {
                let back = "";
                if((val + "") == "0"){
                    back = "正常"
                }
                if((val + "") == "1"){
                    back = "欠款"
                }
                if((val + "") == "2"){
                    back = "过期"
                }
                if((val + "") == "3"){
                    back = "历史"
                }
                if((val + "") == "4"){
                    back = "未开始"
                }

                return back;
            },
            stateFilter1: function (val) {
                let back = "";
                if((val + "") == "0"){
                    back = "现金"
                }
                if((val + "") == "1"){
                    back = "刷卡"
                }
                if((val + "") == "2"){
                    back = "微信"
                }
                if((val + "") == "3"){
                    back = "支付宝"
                }
                return back;
            },
            formatDate(val){
                if(!val){
                    return "";
                }
                return timeFormatDate(val, true, false);
            },
            toNum(val){

                if(!val){
                    return '0';
                }
                return val;
            },
            toMoney: function (val) {
                if (!val || 'undefined' == typeof(val)) {
                    return parseFloat(0).toFixed(2);
                }
                return parseFloat(val).toFixed(2);
            },
            payStatus(item){
                //现金：￥1000.00 支付宝：￥600.00
                let str = '';
                if(parseFloat(item.cashPrice) > 0){
                    str += '现金：￥' + parseFloat(item.cashPrice).toFixed(2)
                }
                if(parseFloat(item.alipayPrice) > 0){
                    str += '支付宝：￥' + parseFloat(item.alipayPrice).toFixed(2)
                }
                if(parseFloat(item.payCardPrice) > 0){
                    str += '刷卡：￥' + parseFloat(item.payCardPrice).toFixed(2)
                }
                if(parseFloat(item.wechatPrice) > 0){
                    str += '微信：￥' + parseFloat(item.wechatPrice).toFixed(2)
                }
                if(parseFloat(item.accountsPrice) > 0){
                    str += '转账：￥' + parseFloat(item.accountsPrice).toFixed(2)
                }
                if(parseFloat(item.flowerPrice) > 0){
                    str += '花呗：￥' + parseFloat(item.flowerPrice).toFixed(2)
                }
                if(parseFloat(item.otherPrice) > 0){
                    str += '其他：￥' + parseFloat(item.otherPrice).toFixed(2)
                }
                return str;
            },
            formatDate2(val){
                if(!val){
                    return "";
                }
                return timeFormatDate(val, false, false);
            },
            saleType(val){
                if(val === 0){
                    return "POS销售";
                }
                if(val === 1){
                    return "新会员购买";
                }
                if(val === 2){
                    return "续课";
                }
                if(val === 3){
                    return "场地开课";
                }
                //销售类型 0 POS销售 1 新会员购买 2 续课 3 场地开课
            },
            accountNum(val){
                let num = val.substr(0,3) + "****" + val.substr(-3);
                return num;
            }
        },
        computed: {},
        watch: {
            index(val){
                this.selectData = this.result[val];
            },
            'selectData':{
                handler(item){
                    this.returnMoney = (item.projectOrder.totalPrice/(item.projectOrder.buyCount + item.projectOrder.sendCount))
                        * ((item.projectOrder.buyCount + item.projectOrder.sendCount) - item.addProjectConsumes.length);
                    this.saleName = item.addProject.saleName;
                    this.endCount = (item.projectOrder.buyCount + item.projectOrder.sendCount) - item.addProjectConsumes.length

                },
                deep: true,
            },

        },
        created: function () {

        },
        mounted(){// 初始化加载
            this.search();//
            this.fetch();
        },
        methods: {
            fetch(){
                axiosGetFetch(COURSE_URL.returnAddProjects,(res)=>{
                    if(res.code == '200'){
                        this.tableList = res.data;
                    }
                })
            },
            verifyUser(){
                this.status = false; //设置为原始状态
                if(!this.password){
                    alert("请输入密码");
                    return false
                }
                //开始验证 verifyPersonInfo
                let param = {};
                param.customerCode = $.cookie('code');
                param.ShopId = $.cookie('shopid');
                param.PassWord = this.password;
                param.id = this.cid;
                axiosPostParams(COURSE_URL.verifyPersonInfo, param, (response) => {
                    if (response.code === '200') {
                        this.status = true;
                    }
                });
            },
            //查询记录
            search(){
                let interval = setInterval(()=>{
                    this.result = customerCourseProject.resultList;
                    if(this.result.length > 0){
                        let array = [];
                        this.index = 0;//初始化index
                        // this.tableList = customerCourseProject.resultList;
                        clearInterval(interval);
                    }
                },500)
            },
            save(){

                if(!this.selectData.addProject){
                    alert("请选择项目退费")
                    return false;
                }
                if(this.status === false){
                    //输入凭证验证失败
                    alert("输入凭证验证失败")
                    return false;
                }
                let param = JSON.toJSON(JSON.stringify(this.selectData));
                //param.
                let obj = {
                    returnMoney: this.returnMoney,
                    endCount: this.endCount,
                    payType: this.payType,
                    count: this.count,
                    deduct: this.deduct,
                    fee: this.fee,
                };
                param.insertData = obj;
                ajaxPostJsonParams(COURSE_URL.customerReturnMoney, param, (res)=>{
                    if (res.code === '200') {
                        customerCourseProject.$options.methods.loadData();//加载数据
                        this.search();
                        alert("退费成功");

                    }
                });
            }

        }
    });
</script>