<li class="list4 list on" id="course-start-using" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <fieldset class="fieldset1" style="padding: 10px 30px;">
        <legend>操作项目/产品</legend>
        <select name="" v-model="index">
            <option value="" v-for="(item, index) in result" :value="index">

                所在门店：{{item.shopName}} 所在场馆：{{item.sdadiumName}} 项目/产品名称：{{item.courseName}}
                数量：{{item.buyCount + item.sendCount | toNum}}
                （{{item.buyCount| toNum}}+ <span
                    class="yellow">{{item.sendCount|toNum}}</span> ）
                已消费数量：{{item.consumeLength| toNum}}
                价格：{{(item.totalPrice/(item.buyCount + item.sendCount))
                * (item.consumeLength)|toMoney}}
                剩余价格：{{(item.totalPrice/(item.buyCount + item.sendCount))
                * ((item.buyCount + item.sendCount) -
                item.consumeLength)|toMoney}}
                有效期：{{item.useful}} 个月 结束时间：{{item.endTime| formatDate2}}
                状态：<span class="blod">{{item.state |stateFilter}}</span>
            </option>
        </select>
    </fieldset>
    <fieldset class="fieldset2" style="padding: 10px 30px;">
        <legend>启用项目操作</legend>
        <p class="date">
            <label>
                原开始日期：{{startTime| formatDate2}}
            </label>
            <label>
                启用日期：{{now| formatDate2}}
            </label>
        </p>
        <p>
            会员授权：<input type="password" v-model="password" />
        </p>
        <p>操作人：{{clientName}} 当前操作时间：{{now| formatDate2}}</p>
        <p><span class="useful" @click="save" >启用</span></p>
    </fieldset>
    <div class="tabTitle" style="padding-left: 5px;">操作记录</div>
    <table border="1" bordercolor="#ccc">
        <thead>
        <tr>
            <td>序号</td>
            <td>操作时间</td>
            <td>操作人</td>
            <td>创建时间</td>
            <td>所在门店</td>
            <td>所在场馆</td>
            <td>项目/产品名称</td>
            <td>有效期</td>
            <td>原开始时间</td>
            <td>开始时间</td>
            <td>结束时间</td>
        </tr>
        </thead>
        <tbody>

        <tr v-for="(item, index) in tableList">
            <td>{{index + 1}}</td>
            <td>{{item.operateDate| formatDate2}}</td>
            <td>{{item.operatePersonName}}</td>
            <td>{{item.createTime| formatDate2}}</td>
            <td>{{item.shopName}}</td>
            <td>{{item.sdadiumName}}</td>
            <td>{{item.courseName}}</td>
            <td>{{item.useful}} 个月</td>
            <td>{{item.oldStartDate| formatDate2}}</td>
            <td>{{item.startTime| formatDate}}</td>
            <td>{{item.endTime| formatDate}}</td>
        </tr>


        </tbody>
    </table>
</li>

<script>

    var startUsingVue = new Vue({
        el: '#course-start-using',
        data: {
            toDisabled: false,
            orderId: '', //订单表ID
            index: '', //序列
            result: [], //数据
            selectData: {}, //选择的数据
            now: new Date(), //当前时间
            clientName: $.cookie('name'), //当前系统人名
            cid: $.cookie('id'), //当前系统人id
            password: '', //输入的密码
            status: false, //严重状态
            startTime: '', //原开始时间
            tableList: [], //表格历史记录
        },
        computed: {},
        watch: {
            index(val){
                this.selectData = this.result[val];
            },
            'selectData': {
                handler(val){
                    if(!val){
                        return false;
                    }
                    this.startTime = val.startTime;
                },
                deep: true,
            },

        },
        filters: {
            stateFilter: function (val) {
                let back = "";
                if ((val + "") == "0") {
                    back = "正常"
                }
                if ((val + "") == "1") {
                    back = "欠款"
                }
                if ((val + "") == "2") {
                    back = "过期"
                }
                if ((val + "") == "3") {
                    back = "历史"
                }
                if ((val + "") == "4") {
                    back = "未开始"
                }

                return back;
            },
            formatDate(val){
                if (!val) {
                    return "";
                }
                return timeFormatDate(val, true, false);
            },
            toNum(val){

                if (!val) {
                    return '0';
                }
                return val;
            },
            toMoney: function (val) {
                if (!val || 'undefined' == typeof(val)) {
                    return parseFloat(0).toFixed(2);
                }
                return parseFloat(val).toFixed(2);
            },
            formatDate2(val){
                if (!val) {
                    return "";
                }
                return timeFormatDate(val, false, false);
            },
            saleType(val){
                if (val === 0) {
                    return "POS销售";
                }
                if (val === 1) {
                    return "新会员购买";
                }
                if (val === 2) {
                    return "续课";
                }
                if (val === 3) {
                    return "场地开课";
                }
                //销售类型 0 POS销售 1 新会员购买 2 续课 3 场地开课
            }
        },
        created: function () {

        },
        mounted(){// 初始化加载
            this.search();//
        },
        methods: {
            //查询记录
            search(){

                let param = {
                    cid: $.cookie('cid'),
                    shopId: $.cookie('shopid'),
                    code: $.cookie('code'),
                }
                axiosGetParams(COURSE_URL.getProjectListSelect, param, (response) => {
                    if (response.code === '200') {
                        this.result = response.data;
                        if(this.result && this.result.length > 0){
                            this.index = 0
                        }
                    }
                });
                axiosGetParams(COURSE_URL.findStartProjectRecord, param, (response) => {
                    if (response.code === '200') {
                        this.tableList = response.data;
                    }
                });

            },
            //验证
            verifyUser(){

            },
            //启用
            save(){

                if(this.toDisabled !== false){
                    return false;

                }
                this.status = false; //设置为原始状态
                if (!this.password) {
                    alert("请输入密码");
                    return false
                }

                //开始验证 verifyPersonInfo
                let param1 = {};
                param1.customerCode = $.cookie('code');
                param1.ShopId = $.cookie('shopid');
                param1.PassWord = this.password;
                param1.id = this.cid;
                axiosPostParams(COURSE_URL.verifyPersonInfo, param1, (response) => {
                    if (response.code === '200') {
                        this.status = true;
                        this.verSave();
                    }else{
                        alert("验证失败");
                        this.status = false;
                        this.toDisabled = false;
                    }
                });


            },
            verSave(){
                //继续操作启用动作
                //判断当前是否正常
                if (!this.selectData.id) {
                    alert("请选择项目")
                    return false;
                }
                if (this.selectData['state'] !== 4) {
                    alert("请选择未开始的项目");
                    return false;
                }
                let param = {};
                if (this.status !== true) {
                    alert("请验证会员权限")
                    return false;
                }
                this.toDisabled = true;
                param.orderId = this.selectData.id;
                param.cid = $.cookie('cid');
                param.name = $.cookie('name');
                param.code = $.cookie('code');
                param.operId = $.cookie('id');
                param.clientName = $.cookie('clientName');
                param.courseName = this.selectData.courseName
                axiosPostParams(COURSE_URL.customerStar, param, (res) => {
                    if (res.code === '200') {
                        this.search();
                        alert("启动成功");

                    }else{
                        alert(res.data.msg);
                        this.toDisabled = false;
                    }
                })
            }

        }
    });
</script>
