<li class="list4 list7 list on" id="course-transfer">
    <fieldset class="fieldset1">
        <legend>操作项目/产品</legend>
        <select name="" v-model="index">
            <option value="" v-for="(item, index) in result" :value="index">

                所在门店：{{item.shopName}} 所在场馆：{{item.sdadiumName}} 项目/产品名称：{{item.courseName}}
                数量：{{item.buyCount + item.sendCount | toNum}}
                （{{item.buyCount| toNum}}+ <span
                    class="yellow">{{item.sendCount|toNum}}</span> ）
                已消费数量：{{item.buyCount + item.sendCount - item.allCount| toNum}}
                价格：{{item.price|toMoney}}
                剩余价格：{{(item.allCount * item.needPrice)/(item.buyCount + item.sendCount)|toMoney}}
                有效期：{{item.useful}} 个月 结束时间：{{item.endTime| formatDate2}}
                状态：<span class="blod">{{item.state |stateFilter}}</span>
            </option>
        </select>
    </fieldset>
    <div class="fieldsetWrap clearfix">
        <fieldset class="fieldset3 fl">
            <legend>转让操作</legend>
            <label>
                转让手机号码：
                <input type="text" placeholder="输入转让对象手机号码"
                       oninput="value=value.replace(/[^\d]+/g,'')" v-model="mobile"/>
            </label>
            <fieldset class="fieldset5">
                <legend>会员信息</legend>
                <template v-if="memberInfo.isHas == true">
                    <label>
                        姓名：
                        {{memberInfo.name}}
                    </label>
                    <label>
                        性别：
                        {{memberInfo.sex}}
                    </label>
                </template>
                <!--<template v-else>-->
                <!--<label >-->
                <!--姓名：-->
                <!--<input type="text" placeholder="输入转让对象姓名" v-model="memberInfo.name" />-->
                <!--</label>-->
                <!--<label >-->
                <!--性别：-->
                <!--<input type="radio" style="width:20px;height: 16px;" value="0" v-model="memberInfo.sex"/>男-->
                <!--<input type="radio" style="width:20px;height: 16px;" value="1" v-model="memberInfo.sex"/>女-->
                <!--</label>-->
                <!--</template>-->

            </fieldset>
            <label>
                手续费：
                <input type="text" placeholder="0.00" v-model="fee"
                       oninput="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')"/>
            </label>
            <label>
                选择支付方式：
                <select v-model="payType">
                    <option value="0">现金</option>
                    <option value="1">刷卡</option>
                    <option value="2">微信</option>
                    <option value="3">支付宝</option>
                </select>
            </label>
            <label>
                输入凭证：
                <input type="password" v-model="usepass" />
            </label>
            <label>
                操作人：<span class="red">{{clientName}}</span> 当前操作时间:{{now|formatDate2}}
            </label>
            <p>
                <span class="btn" @click="save">转让</span>
            </p>
        </fieldset>
        <fieldset class="fieldset4 fl">
            <legend>转让记录</legend>
            <table border="1" bordercolor="#ccc">
                <thead>
                <tr>
                    <td>序号</td>
                    <td>转让时间</td>
                    <td>转让人</td>
                    <td>转让人手机</td>
                    <td>承接人电话</td>
                    <td>承接人姓名</td>
                    <td>付款类型</td>
                    <td>手续费</td>
                    <td>授权人</td>
                    <td>操作人</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in tableList">
                    <td>{{index+1}}</td>
                    <td>{{item.createTime|formatDate}}</td>
                    <td>{{item.oldClientName}}</td>
                    <td>{{item.oldMobile}}</td>
                    <td>{{item.newClientName}}</td>
                    <td>{{item.newMobile}}</td>
                    <td>{{item.payType| stateFilter1}}</td>
                    <td>{{item.fee| toMoney}}</td>
                    <td>{{item.createName}}</td>
                    <td>{{item.createName}}</td>
                    <td class="red" @click="deleteTurn(item)">冲销</td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</li>


<script>
    var transferVue = new Vue({
        el: '#course-transfer',
        data: {
            toDelete: false,
            toDisabled: false,
            orderId: '', //订单表ID
            index: '', //序列
            result: [], //数据
            selectData: {}, //选择的数据
            now: new Date(), //当前时间
            clientName: $.cookie('name'), //当前系统人名
            cid: $.cookie('id'), //当前系统人id
            password: '', //输入的密码
            status: false, //验证状态
            tableList: [], //表格历史记录
            mobile: '', //手机号码
            fee: '', //手续费
            usepass: '', //密码
            memberInfo: {
                name: '',
                sex: '',
                isHas: false, //该用户是否存在
            },
            payType: '0', //付款方式
            tableList: [],
        },
        filters: {
            stateFilter: function (val) {
                let back = "";
                if ((val + "") == "0") {
                    back = "正常"
                }
                if ((val + "") == "1") {
                    back = "欠款"
                }
                if ((val + "") == "2") {
                    back = "过期"
                }
                if ((val + "") == "3") {
                    back = "历史"
                }
                if ((val + "") == "4") {
                    back = "未开始"
                }

                return back;
            },
            stateFilter1: function (val) {
                let back = "";
                if ((val + "") == "0") {
                    back = "现金"
                }
                if ((val + "") == "1") {
                    back = "刷卡"
                }
                if ((val + "") == "2") {
                    back = "微信"
                }
                if ((val + "") == "3") {
                    back = "支付宝"
                }
                return back;
            },
            formatDate(val){
                if (!val) {
                    return "";
                }
                return timeFormatDate(val, true, false);
            },
            toNum(val){

                if (!val) {
                    return '0';
                }
                return val;
            },
            toMoney: function (val) {
                if (!val || 'undefined' == typeof(val)) {
                    return parseFloat(0).toFixed(2);
                }
                return parseFloat(val).toFixed(2);
            },
            payStatus(item){
                //现金：￥1000.00 支付宝：￥600.00
                let str = '';
                if (parseFloat(item.cashPrice) > 0) {
                    str += '现金：￥' + parseFloat(item.cashPrice).toFixed(2)
                }
                if (parseFloat(item.alipayPrice) > 0) {
                    str += '支付宝：￥' + parseFloat(item.alipayPrice).toFixed(2)
                }
                if (parseFloat(item.payCardPrice) > 0) {
                    str += '刷卡：￥' + parseFloat(item.payCardPrice).toFixed(2)
                }
                if (parseFloat(item.wechatPrice) > 0) {
                    str += '微信：￥' + parseFloat(item.wechatPrice).toFixed(2)
                }
                if (parseFloat(item.accountsPrice) > 0) {
                    str += '转账：￥' + parseFloat(item.accountsPrice).toFixed(2)
                }
                if (parseFloat(item.flowerPrice) > 0) {
                    str += '花呗：￥' + parseFloat(item.flowerPrice).toFixed(2)
                }
                if (parseFloat(item.otherPrice) > 0) {
                    str += '其他：￥' + parseFloat(item.otherPrice).toFixed(2)
                }
                return str;
            },
            formatDate2(val){
                if (!val) {
                    return "";
                }
                return timeFormatDate(val, false, false);
            },
            saleType(val){
                if (val === 0) {
                    return "POS销售";
                }
                if (val === 1) {
                    return "新会员购买";
                }
                if (val === 2) {
                    return "续课";
                }
                if (val === 3) {
                    return "场地开课";
                }
                //销售类型 0 POS销售 1 新会员购买 2 续课 3 场地开课
            }
        },
        computed: {},
        watch: {
            index(val){
                this.selectData = this.result[val];
                console.log(this.selectData)
            },
            'selectData': {
                handler(val){
                    if(!val){
                        return false;
                    }
                    this.startTime = val.startTime;
                    this.endTime = val.endTime;
                },
                deep: true,
            },
            'mobile'(val){
                if (val.length = 11) {
                    this.searchUser();
                }
            }
        },
        created: function () {

        },
        mounted(){// 初始化加载
            this.search();//
            this.fetch()
           // this.mobile = '15345982222';
        },
        methods: {
            fetch(){
                let param = {
                    cid: $.cookie('cid'),
                    shopId: $.cookie('shopid'),
                    code: $.cookie('code'),
                }
                axiosGetParams(COURSE_URL.turnProjects, param, (res) => {
                    if (res.code == '200') {
                        this.tableList = res.data;
                    }
                })
            },
            //查询记录
            search(){

                let param = {
                    cid: $.cookie('cid'),
                    shopId: $.cookie('shopid'),
                    code: $.cookie('code'),
                }
                axiosGetParams(COURSE_URL.getProjectListSelect, param, (response) => {
                    if (response.code === '200') {
                        this.result = response.data;
                        if(this.result && this.result.length > 0){
                            this.index = 0
                        }
                    }
                });
            },
            searchUser(){
                //输入手机号码 this.mobile
                this.memberInfo.name = '';
                this.memberInfo.sex = '';
                this.memberInfo.isHas = false;
                //判断手机号码是否有输入
                if (this.mobile == "") {
                    return false;
                }
                //15345982222
                let param = {
                    mobile: this.mobile,
                    CustomerCode: $.cookie('code')
                };

                axiosGetParams(COURSE_URL.getClientListByMobile, param, (response) => {
                    if (response.code === '200') {
                        if (response.data.length > 0) {
                            let data = response.data[0];
                            this.memberInfo.name = data.clientName;
                            this.memberInfo.sex = data.sex == 1 ? '女' : '男';
                            this.memberInfo.isHas = true; //该用户存在

                        }


                    }
                });

            },
            verifyUser(){

            },
            //转让操作
            save(){

                this.status = false; //设置为原始状态
                if (!this.usepass) {
                    alert("请输入密码");
                    return false
                }
                //开始验证 verifyPersonInfo
                let param = {};
                param.customerCode = $.cookie('code');
                param.ShopId = $.cookie('shopid');
                param.PassWord = this.usepass;
                param.id = this.cid;
                axiosPostParams(COURSE_URL.verifyPersonInfo, param, (response) => {
                    if (response.code === '200') {
                        this.status = true;
                        this.varSave();
                    } else {
                        alert("凭证验证失败");
                        this.toDisabled = false;
                    }

                });

            },
            varSave(){
                if(this.toDisabled !== false){
                    return false;

                }
                if (!this.selectData.id) {
                    alert("请选择项目转让")
                    return false;
                }
                if (this.memberInfo.isHas === false) {
                    alert("转让的用户不存在，请添加该用户")
                    return false;
                }
                if (this.selectData['state'] !== 0) {
                    alert("请选择状态为正常的项目");
                    return false;
                }
                if (this.status === false) {
                    //输入凭证验证失败
                    alert("输入凭证验证失败")
                    return false;
                }
                this.toDisabled = true;
                // let param = JSON.parse(JSON.stringify(this.selectData));
                //param.
                let param = {
                    mobile: this.mobile,
                    clientName: this.memberInfo.name,
                    sex: this.memberInfo.sex,
                    fee: this.fee ? this.fee : 0,
                    payType: this.payType,
                    cid: $.cookie('cid'),
                    operId: $.cookie('id'),
                    operName: $.cookie('name'),
                    shopId: $.cookie('shopid'),
                    code: $.cookie('code'),
                    projectId: this.selectData.id,
                    consumeId: this.selectData.consumeId,
                    sdadiumId: this.selectData.sdadiumId,
                    courseName: this.selectData.courseName,
                    poId: this.selectData.poId,
                };
                //  param = obj;
                axiosPostParams(COURSE_URL.customerTransfer, param, (res) => {
                    if (res.code === '200') {
                        this.search();//
                        this.fetch()
                        alert("转让成功");

                    }else{
                        alert('转让失败,或用户不存在');
                        this.toDisabled = false;
                    }
                });
            },
            //删除，冲消除
            deleteTurn(data){

                if(this.toDelete !== false){
                    return false;
                }
                this.toDelete = true;
                let item = data.turnProject;
                let param = {};
                param.id = item.id;
                axiosPostParams(COURSE_URL.turnProjectsDelete, param, (res) => {
                    if (res.code == '200') {
//                        customerCourseProject.$options.methods.loadData();//加载数据
//                        this.search();
//                        this.fetch();
                        this.search();//
                        this.fetch()
                        alert("冲销成功");
                    }else{
                        alert('冲销失败,请重试');
                        this.toDelete = false;
                    }
                })
            }

        }
    });
</script>