::-webkit-scrollbar-track-piece {
    background-color: #F2F2F2;
    -webkit-border-radius: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    height: 8px;
    background-color: #A8A8A8;
    -webkit-border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

    ::-webkit-scrollbar-thumb:hover {
        height: 8px;
        background-color: #C1C1C1;
        -webkit-border-radius: 4px;
    }

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    font-family: "Microsoft Yahei Light", "Microsoft YaHei UI", "Microsoft Yahei", "Segoe UI Light", "Segoe UI", "萍方", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    /*禁止文字被选中*/
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

input[type=radio], input[type=checkbox] {
    /* position: absolute; */
    clip: rect(0, 0, 0, 0);
}

input[type=checkbox] + label:before,
input[type=radio] + label:before,
input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
    padding: 0;
    font-family: FontAwesome;
    display: inline;
    vertical-align: middle;
    height: auto;
    font-size: 16px;
    text-shadow: none;
    color: #d6d6d6;
    padding-right:4px;
}

input[type=checkbox] + label:before {
    content: "\f096";
}

input[type=checkbox]:checked + label:before {
    content: "\f14a";
    font-size: 15px;
    color: #0382e9;
}

input[type=radio] + label:before {
    content: "\f10c";
}

input[type=radio]:checked + label:before {
    content: "\f192";
    font-size: 15px;
    color: #0382e9;
}
/*遮罩层样式*/
.maskLayer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #333333;
    filter: alpha(Opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
}
fieldset {
    margin: 5px;
    border: 1px dashed #ccc;
    padding: 10px;
    border-radius: 5px;
}
fieldset legend {
    display: initial;
    width: auto;
    padding: 0;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: none;
}