
#top {
    background-color: #EFF0F3;
}

#top div {
    line-height: 34px;
    padding: 0 15px;
    color: #2C94FE;
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0;
    background-color: #fff;
}