<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/skin/jedate.css" />
		<link rel="stylesheet" href="../css/behavior.css" />
		<link rel="stylesheet" href="../css/combobox.css" />
	</head>
	<body>
		<div class="wrap" id="wrap">
			<div class="top">报表管理</div>
			<div class="content clearfix">
				<div class="left">
					<ul>
						<li>财务审核管理</li>
						<li class="on">报表管理</li>
					</ul>
				</div>
				<div class="right">
					<div class="header">
							<a href="../fitness/appointment.html?LiIndex=6">
						<span>返回</span>
							</a>
					</div>
					<div class="contains">
						<h3>软件园店 团操教练/教师 个人行为绩效分析表</h3>
						<div class="navBar clearfix">
							<p class="choose fl">
								<select name="" v-model="shopId" class="fl" >
									<!--<option value="" selected="">软件园店</option>-->
									<option v-for='(item,index) in shopList' :value="item.id">
										{{item.shopName}}
									</option>
								</select>
								<select name="" class="fl" v-model="eduType">
									<option value="0" selected>健身团操</option>
									<option value="1" selected>健身私教</option>
								</select>
								<label  class="fl">
									<input type="text" id="begin-date" v-model="beginDate" readonly/> ~
									<input type="text" id="end-date" v-model="endDate" readonly/>
								</label>
								<!--<span class="toYellow fl">打印</span>-->
								<!--<span class="toLightBlue fl">导出</span>-->
								<!--<span class="toDeepBlue fl">帮助</span>	-->
							</p>
							<p class="search fr">
								<input type="text" class="txt fl" placeholder="姓名" v-model="searchInput"/>
								<input type="submit" class="submit fl" value="搜索" @click="search"/>
							</p>
						</div>
						<div class="tab">
							<table border="1" bordercolor="#ccc">
								<thead>
									<tr>
										<td>序号</td>
										<td>门店</td>
										<td>教练/教师</td>
										<td>课程名称</td>
										<td>总课时</td>
										<td>迟到次数</td>
										<td>迟到总时间</td>
										<td>最低总人数</td>
										<td>目标总人数</td>
										<td>实际总人数</td>
										<td>超出人数</td>
										<td>超出比例</td>
										<td>平均人数</td>
										<td>计划课程数量</td>
										<td>超出数量</td>
										<td>超出数量比例</td>
										<td>总评分</td>
										<td>平均得分</td>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item, index) in result">
										<td>{{index + 1}}</td>
										<td>{{item.shopName}}</td>
										<td>{{item.coachName}}</td>
										<td class="blue">{{item.courseName}}</td>
										<td>{{item.allCount}}</td>
										<td class="grey">{{item.lateCount}}</td>
										<td>{{item.lateMinute}}<span class="orange">分钟</span></td>
										<td>{{item.lowestNum}}</td>
										<td>{{item.totalNum}}</td>
										<td>{{item.sumFinishNum}}</td>
										<td>{{item.sumFinishNum - item.totalNum}}</td>
										<td class="red">{{(item.sumFinishNum - item.totalNum)/item.totalNum | toNum}}%</td>
										<td>{{item.avgFinishNum}}</td>
										<td>{{item.classNum}}</td>
										<td>0</td>
										<td class="red">0.00%</td>
										<td>{{item.sumScore| toNum}}</td>
										<td class="blue">{{item.avgScore| toNum}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script src="../js/jquery.cookie.js"></script>
	<script src="../js/extendjQuery.js"></script>
	<script src="../js/setCookie.js"></script>
	<script src="../js/dateUtil.js"></script>
	<script src="../js/combobox.js"></script>
	<script src="../js/jedate.js"></script>
	<script src="../js/vue.js"></script>
	<script src="../js/simple-calendar.js"></script>
	<script src="../js/jquery-confirm.js"></script>
	<script src="../js/jquery.fieldTime.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/axios.min.js"></script>
	<script src="../fitness/js/resources/api/axios-base.js"></script>
	<script src="../js/resources/constant/course-url.js"></script>

	<script>
		var wrapVue = new Vue({
			el: '#wrap',
			data: {
				index: 0,
				mobile: '',
				beginDate: '',
				endDate: '',
				shopId: $.cookie('shopid'),
				shopList: [],
				eduType: '0',
				searchInput: '',
				result: []
			},
			filters:{
				toDateyyyyMMddHHmm(val){
					if(!val){
						return "";
					}
					return timeFormatDate(val, true)
				},
				toNum(val){
					if(!val){
						return "0";
					}
					return parseFloat(val).toFixed(2)
				},
			},
			computed: {},
			watch: {

			},
			created: function () {
				//默认值
				this.beginDate = getMonthStartDate();
				this.endDate = getMonthEndDate();
				this.search()
				this.loadShopList();
			},
			mounted(){// 初始化加载

				let that = this;
				//上课时间
				jeDate('#begin-date',{
					// isinitVal: true,
					festival: true,
					format: 'YYYY-MM-DD',
					donefun(obj, val){
						that.beginDate = obj.val;
					}
				});
				jeDate('#end-date',{
					// isinitVal: true,
					festival: true,
					format: 'YYYY-MM-DD',
					donefun(obj, val){
						that.endDate = obj.val;
					}
				});


			},
			methods: {
				loadShopList: function () {
					this.shopList = []; //清空门店
					let obj = {}, data = null;
					axiosGetParams(COURSE_URL.marketShop, {type: 0}, (response) => {
						data = response.data;
						$.each(data, (i, d) => {
							obj.shopName = d.shopName;
							obj.id = d.id;
							this.shopList.push(obj);
							obj = {};
						})

					})
				},
				search(){
					let beginDate = this.beginDate?this.beginDate+" 00:00:00":"";
					let endDate = this.endDate?this.endDate+" 23:59:59":"";
					let param = {
						shopId: this.shopId,
						eduType: this.eduType,
						beginDate: beginDate,
						endDate: endDate,
						name: this.searchInput,
						code: $.cookie('code'),
					}
					axiosGetParams('financial/findEducationFinancialList', param, (response) => {
						this.result = response;
					})
				}
			}
		});
	</script>
</html>
