<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>训练计划</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <!--<link rel="stylesheet" href="../css/base.css" />-->
    <link rel="stylesheet" href="../css/skin/jedate.css"/>
    <link rel="stylesheet" href="../css/combobox.css"/>
    <link rel="stylesheet" href="../css/customerTrainingPlan.css"/>
    <link rel="stylesheet" href="../css/myPagination.css"/>
</head>

<body>
<div id="customerTrainingPlan">
    <div class="customerTrainingPlan">
        <div class="top">
            <span>训练计划</span>
        </div>
        <div class="middle">
            <fieldset>
                <legend>训练计划</legend>
                <form action="">
                    <p class="line1">
                        <label>
                            <span>私教项目：</span>
                            <input type="text"/>
                        </label>
                    </p>
                    <p class="line2">
                        <label>
                            <span>训练日期：</span>
                            <input type="date"/>
                        </label>
                        <label>
                            <span>训练时间：</span>
                            <input type="time"/> ~
                            <input type="time"/>
                        </label>
                    </p>
                    <p class="line3">
                        <label>
                            <span>课程详情：</span>
                            <span class="toBlue" id="addClass">添加课程</span>
                        </label>
                    </p>
                    <p class="line4">
                        <label>
                            <span>改进方案：</span>
                            <textarea name="" rows="" cols=""></textarea>
                        </label>
                    </p>
                    <p class="line5">
                        <input type="submit" value="添加"/>
                    </p>
                </form>
            </fieldset>
            <table border="1" bordercolor="#ccc" class="table">
                <thead>
                <tr>
                    <td>序号</td>
                    <td>私教项目</td>
                    <td>训练日期</td>
                    <td>开始时间</td>
                    <td>结束时间</td>
                    <td>课程详情</td>
                    <td>实际日期</td>
                    <td>开始时间</td>
                    <td>结束时间</td>
                    <td>会员自我感觉</td>
                    <td>教练小结</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in customerTable.list">
                    <td>{{(customerTable.currPage-1)*10+(index+1)}}</td>
                    <td>{{item.project}}</td>
                    <td>{{item.trainDate}}</td>
                    <td>{{item.trainStartDate}}</td>
                    <td>{{item.trainEndDate}}</td>
                    <td @click="course(item.frActions)">课程详情</td>
                    <td>{{item.actualDate}}</td>
                    <td>{{item.actualStartDate}}</td>
                    <td>{{item.actualEndDate}}</td>
                    <td>{{item.memberFeel}}</td>
                    <td>{{item.coachSummary}}</td>
                    <td><span>修改</span><span>删除</span></td>
                </tr>
                <!--<tr>-->
                <!--<td>2</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td>课程详情</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td><span>修改</span><span>删除</span></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>3</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td>课程详情</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td><span>修改</span><span>删除</span></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>4</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td>课程详情</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td><span>修改</span><span>删除</span></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>5</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td>课程详情</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td><span>修改</span><span>删除</span></td>-->
                <!--</tr>-->
                </tbody>
            </table>
            <div id="pagination" class="pagination"></div>
            <div class="box">
                <p class="title">课程筛选</p>
                <span class="close upClose"> X </span>
                <div class="tab">
                    <span class="toBlue">导入训练计划</span>
                    <span class="toGreen">导入训练计划套餐</span>
                </div>
                <table border="1" bordercolor="#ccc">
                    <thead>
                    <tr>
                        <td>动作</td>
                        <td>内容类型</td>
                        <td>图片/gif动画</td>
                        <td>难度</td>
                        <td>时间（分）</td>
                        <td>强度</td>
                        <td>次数</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in ActionInfo">
                        <td>{{item.name}}</td>
                        <td>二头肌杠铃举</td>
                        <td><img src="../img/u2871.png" alt="" class="img-responsive"></td>
                        <td>简单</td>
                        <td>10</td>
                        <td>5</td>
                        <td>30</td>
                        <td>注意节奏</td>
                        <td>
                            <span class="toBlue">修改</span>
                            <span class="noBg">删除</span>
                        </td>
                    </tr>
                    <tr>
                        <td>自定义添加动作</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="toGreen">添加</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="box1 wrap">
                    <p class="title">添加训练计划</p>
                    <span class="close"> X </span>
                    <div class="content">
                        <div class="lef">
                            <ul class="ulUp">
                                <li class="sup">
                                    <input type="checkbox"/>动感单车
                                </li>
                                <li class="sub">
                                    <ul class="ulDown">
                                        <li><input type="checkbox"/>动感单车1</li>
                                        <li><input type="checkbox"/>动感单车2</li>
                                        <li><input type="checkbox"/>动感单车3</li>
                                    </ul>
                                </li>
                                <li class="sup">
                                    <input type="checkbox"/>动感单车
                                </li>
                                <li class="sub">
                                    <ul class="ulDown">
                                        <li><input type="checkbox"/>动感单车1</li>
                                        <li><input type="checkbox"/>动感单车2</li>
                                        <li><input type="checkbox"/>动感单车3</li>
                                    </ul>
                                </li>
                                <li class="sup">
                                    <input type="checkbox"/>动感单车
                                </li>
                                <li class="sub">
                                    <ul class="ulDown">
                                        <li><input type="checkbox"/>动感单车1</li>
                                        <li><input type="checkbox"/>动感单车2</li>
                                        <li><input type="checkbox"/>动感单车3</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="rig">
                            <p>
                                <span>导入训练计划</span>
                            </p>
                            <table border="1" bordercolor="#ccc">
                                <thead>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>序号</td>
                                    <td>课程类型</td>
                                    <td>内容类型</td>
                                    <td>时间（分）</td>
                                    <td>强度</td>
                                    <td>次数</td>
                                    <td>备注</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>1</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>2</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>3</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>4</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>5</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>6</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box2 wrap">
                    <p class="title">添加训练计划</p>
                    <span class="close"> X </span>
                    <div class="content">
                        <div class="lef">
                            <ul class="ulUp">
                                <li class="sup">
                                    <input type="checkbox"/>动感单车
                                </li>
                                <li class="sub">
                                    <ul class="ulDown">
                                        <li><input type="checkbox"/>动感单车1</li>
                                        <li><input type="checkbox"/>动感单车2</li>
                                        <li><input type="checkbox"/>动感单车3</li>
                                    </ul>
                                </li>
                                <li class="sup">
                                    <input type="checkbox"/>动感单车
                                </li>
                                <li class="sub">
                                    <ul class="ulDown">
                                        <li><input type="checkbox"/>动感单车1</li>
                                        <li><input type="checkbox"/>动感单车2</li>
                                        <li><input type="checkbox"/>动感单车3</li>
                                    </ul>
                                </li>
                                <li class="sup">
                                    <input type="checkbox"/>动感单车
                                </li>
                                <li class="sub">
                                    <ul class="ulDown">
                                        <li><input type="checkbox"/>动感单车1</li>
                                        <li><input type="checkbox"/>动感单车2</li>
                                        <li><input type="checkbox"/>动感单车3</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="rig">
                            <p>
                                <span>导入训练计划</span>
                            </p>
                            <table border="1" bordercolor="#ccc">
                                <thead>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>序号</td>
                                    <td>课程类型</td>
                                    <td>内容类型</td>
                                    <td>时间（分）</td>
                                    <td>强度</td>
                                    <td>次数</td>
                                    <td>备注</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>1</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>2</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>3</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>4</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>5</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"/></td>
                                    <td>6</td>
                                    <td>脚部肌群</td>
                                    <td>45°倒登机</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>30</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--基础-->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/axios.min.js"></script>
<!--插件-->
<script src="../js/loading.js"></script>
<script src="../js/jedate.js"></script>
<script src="../js/combobox.js"></script>
<script src="../js/common.js"></script>
<script src="../js/dateUtil.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/jquery-confirm.js"></script>
<script src="../js/extendjQuery.js"></script>
<script src="../js/setCookie.js"></script>
<script src="/js/myPagination.js"></script>
<script src="customerTrainingPlan.js"></script>
<script>
    customerTrainingPlan.init();
</script>
<script>
    $('.course').click(function () {
        $('.box').css('display', 'block');
    });

    $('.box .upClose').click(function () {
        $('.box').css('display', 'none');
    });
    $('#addClass').click(function () {
        $('.box').css('display', 'block');
    });
    $('#customerTrainingPlan .box .tab .toBlue').click(function () {
        $('.box1').css('display', 'block');
    });
    $('.box1 .close').click(function () {
        $('.box1').css('display', 'none');
    });
    $('#customerTrainingPlan .box .tab .toGreen').click(function () {
        $('.box2').css('display', 'block');
    });
    $('.box2 .close').click(function () {
        $('.box2').css('display', 'none');
    });
</script>

</html>