<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>训练计划</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/reset.css"/>
    <!--<link rel="stylesheet" href="../css/base.css" />-->
    <link rel="stylesheet" href="../css/skin/jedate.css"/>
    <link rel="stylesheet" href="../css/combobox.css"/>
    <link rel="stylesheet" href="../css/customerTrainingPlan.css"/>
    <link rel="stylesheet" href="../css/myPagination.css"/>
</head>

<body>
<div id="customerTrainingPlan">
    <div class="customerTrainingPlan">
        <div class="top">
            <span>训练计划</span>
        </div>
        <div class="middle">
            <fieldset>
                <legend>训练计划</legend>
                <form action="">
                    <p class="line1">
                        <label>
                            <span>私教项目：</span>
                            <input type="text" v-model="param.project"/>
                        </label>
                    </p>
                    <p class="line2">
                        <label>
                            <span>训练日期：</span>
                            <input type="date" v-model="param.trainDate"/>
                        </label>
                        <label>
                            <span>训练时间：</span>
                            <input type="time" v-model="param.trainStartDate"/> ~
                            <input type="time" v-model="param.trainEndDate"/>
                        </label>
                    </p>
                    <p class="line3">
                        <label>
                            <span>课程详情：</span>
                            <span class="toBlue" @click="addClass">添加课程</span>
                        </label>
                    </p>
                    <p class="line4">
                        <label>
                            <span>改进方案：</span>
                            <textarea name="" rows="" cols="" v-model="param.improvementPlan"></textarea>
                        </label>
                    </p>
                    <p class="line5">
                        <input type="button" value="添加" @click="add"/>
                    </p>
                </form>
            </fieldset>
            <table border="1" bordercolor="#ccc" class="table">
                <thead>
                <tr>
                    <td>序号</td>
                    <td>私教项目</td>
                    <td>训练日期</td>
                    <td>开始时间</td>
                    <td>结束时间</td>
                    <td>课程详情</td>
                    <td>实际日期</td>
                    <td>开始时间</td>
                    <td>结束时间</td>
                    <td>会员自我感觉</td>
                    <td>教练小结</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in customerTable.list" class="updateTr">
                    <td>{{(customerTable.currPage-1)*10+(index+1)}}</td>
                    <td><input style="border:none" type="text" :value="item.project"/></td>
                    <td><input style="border:none"  type="date" :value="formatDate(item.trainDate)"/></td>
                    <td><input style="border:none"  type="time" :value="formatSeconds(item.trainStartDate)"/></td>
                    <td><input style="border:none"  type="time" :value="formatSeconds(item.trainEndDate)"/></td>
                    <td @click="course(item.frPlanClasses,index)">课程详情</td>
                    <td><input style="border:none"  type="date" :value="formatDate(item.actualDate)"/></td>
                    <td><input style="border:none"  type="time" :value="formatSeconds(item.actualStartDate)"/></td>
                    <td><input style="border:none"  type="time" :value="formatSeconds(item.actualEndDate)"/></td>
                    <td><input style="border:none" type="text" :value="item.memberFeel"/></td>
                    <td><input style="border:none" type="text" :value="item.coachSummary"/></td>
                    <input type="hidden" :value="item.id"/>
                    <td><span @click="update(item.frPlanClasses,index)">修改</span>
                        <span @click="del(item.id)">删除</span></td>
                </tr>
                <!--<tr>-->
                <!--<td>2</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td>课程详情</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td><span>修改</span><span>删除</span></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>3</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td>课程详情</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td><span>修改</span><span>删除</span></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>4</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td>课程详情</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td><span>修改</span><span>删除</span></td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>5</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td>课程详情</td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td><span>修改</span><span>删除</span></td>-->
                <!--</tr>-->
                </tbody>
            </table>
            <div id="pagination" class="pagination"></div>
            <div class="box">
                <p class="title">课程筛选</p>
                <span class="close upClose"> X </span>
                <div class="tab">
                    <span class="toBlue" @click="open(1)">导入训练计划</span>
                    <span class="toGreen" @click="open(2)">导入训练计划套餐</span>
                </div>
                <table border="1" bordercolor="#ccc">
                    <thead>
                    <tr>
                        <td>动作</td>
                        <td>内容类型</td>
                        <td>图片/gif动画</td>
                        <td>难度</td>
                        <td>时间（分）</td>
                        <td>强度</td>
                        <td>次数</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in ActionInfo" class="action">
                        <input type="hidden" :value="item.id">
                        <td><input style="border:none;width: 50px" type="text" :value="item.name"/></td>
                        <td><input style="border:none;width: 50px" type="text" :value="item.sname"/></td>
                        <td><input type="hidden" :value="item.image"/><img :src="item.image" alt="" class="img-responsive"></td>
                        <td><input style="border:none;width: 50px" type="text" :value="item.diff"/></td>
                        <td><input style="border:none;width: 20px" type="text" :value="item.time"/></td>
                        <td><input style="border:none;width: 20px" type="text" :value="item.strength"/></td>
                        <td><input style="border:none;width: 20px" type="text" :value="item.count"/></td>
                        <td><input style="border:none;width: 20px" type="text" :value="item.remark"/></td>
                        <input type="hidden" :value="item.tid"/>
                        <td>
                            <span class="toBlue" @click="updateAction(index)">修改</span>
                            <span class="noBg" @click="delAction(index)">删除</span>
                        </td>
                    </tr>
                    <tr>
                        <td>自定义添加动作</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="toGreen">添加</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="box1 wrap">
                    <p class="title">添加训练计划</p>
                    <span class="close"> X </span>
                    <div class="content">
                        <div class="lef">
                            <ul class="ulUp">
                                <div v-for="(item,index2) in PlanInfo">
                                <li class="sup" style="cursor: default">
                                    <input class="checkboxParent" type="checkbox" @click="checkAll(5,item.frTrainingSeries,index2,$event)" />{{item.name}}
                                </li>
                                <li class="sub">
                                    <ul class="ulDown">

                                        <li style="cursor: pointer" v-for="(list,index) in item.frTrainingSeries">
                                            <input type="checkbox" class="planParent" @click="checkAll(3,list.id,index)"/>
                                            <span  @click="getContentInfo(list.id)" >{{list.name}}</span></li>

                                    </ul>
                                </li>
                                </div>
                                <!--<li class="sup">-->
                                    <!--<input type="checkbox"/>动感单车-->
                                <!--</li>-->
                                <!--<li class="sub">-->
                                    <!--<ul class="ulDown">-->
                                        <!--<li><input type="checkbox"/>动感单车1</li>-->
                                        <!--<li><input type="checkbox"/>动感单车2</li>-->
                                        <!--<li><input type="checkbox"/>动感单车3</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li class="sup">-->
                                    <!--<input type="checkbox"/>动感单车-->
                                <!--</li>-->
                                <!--<li class="sub">-->
                                    <!--<ul class="ulDown">-->
                                        <!--<li><input type="checkbox"/>动感单车1</li>-->
                                        <!--<li><input type="checkbox"/>动感单车2</li>-->
                                        <!--<li><input type="checkbox"/>动感单车3</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            </ul>
                        </div>
                        <div class="rig">
                            <p>
                                <span @click="addPlan(1)">导入训练计划</span>
                            </p>
                            <table border="1" bordercolor="#ccc">
                                <thead>
                                <tr>
                                    <td><input type="checkbox" id="checkPlan" @click="checkAll(1)"/></td>
                                    <td>序号</td>
                                    <td>课程类型</td>
                                    <td>内容类型</td>
                                    <td>时间（分）</td>
                                    <td>强度</td>
                                    <td>次数</td>
                                    <td>备注</td>
                                </tr>
                                </thead>
                                <tbody id="planBody">
                                <tr v-for="(item,index) in ContentInfo">
                                    <td><input type="checkbox" v-model="ids" :value="item.id" /></td>
                                    <td>{{index+1}}</td>
                                    <td>{{item.sname}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.time}}</td>
                                    <td>{{item.strength}}</td>
                                    <td>{{item.count}}</td>
                                    <td>{{item.remark}}</td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td><input type="checkbox"/></td>-->
                                    <!--<td>2</td>-->
                                    <!--<td>脚部肌群</td>-->
                                    <!--<td>45°倒登机</td>-->
                                    <!--<td>10</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><input type="checkbox"/></td>-->
                                    <!--<td>3</td>-->
                                    <!--<td>脚部肌群</td>-->
                                    <!--<td>45°倒登机</td>-->
                                    <!--<td>10</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><input type="checkbox"/></td>-->
                                    <!--<td>4</td>-->
                                    <!--<td>脚部肌群</td>-->
                                    <!--<td>45°倒登机</td>-->
                                    <!--<td>10</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><input type="checkbox"/></td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>脚部肌群</td>-->
                                    <!--<td>45°倒登机</td>-->
                                    <!--<td>10</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><input type="checkbox"/></td>-->
                                    <!--<td>6</td>-->
                                    <!--<td>脚部肌群</td>-->
                                    <!--<td>45°倒登机</td>-->
                                    <!--<td>10</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box2 wrap">
                    <p class="title">添加训练计划</p>
                    <span class="close"> X </span>
                    <div class="content">
                        <div class="lef">
                            <ul class="ulUp">
                                <div v-for="item in SetMealInfo">
                                    <li class="sup" style="cursor: default">
                                        <input type="checkbox"/>{{item.name}}
                                    </li>
                                    <li class="sub">
                                        <ul class="ulDown">
                                            <li style="cursor: pointer" v-for="(list,index) in item.frTrainingSeries"><input class="setMealParent" type="checkbox" @click="checkAll(4,list.id,index)"/>
                                                <span  @click="getSetMealContentInfo(list.id)" >{{list.name}}</span></li>
                                        </ul>
                                    </li>
                                </div>
                                <!--<li class="sup">-->
                                    <!--<input type="checkbox"/>动感单车-->
                                <!--</li>-->
                                <!--<li class="sub">-->
                                    <!--<ul class="ulDown">-->
                                        <!--<li><input type="checkbox"/>动感单车1</li>-->
                                        <!--<li><input type="checkbox"/>动感单车2</li>-->
                                        <!--<li><input type="checkbox"/>动感单车3</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li class="sup">-->
                                    <!--<input type="checkbox"/>动感单车-->
                                <!--</li>-->
                                <!--<li class="sub">-->
                                    <!--<ul class="ulDown">-->
                                        <!--<li><input type="checkbox"/>动感单车1</li>-->
                                        <!--<li><input type="checkbox"/>动感单车2</li>-->
                                        <!--<li><input type="checkbox"/>动感单车3</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            </ul>
                        </div>
                        <div class="rig">
                            <p>
                                <span @click="addPlan(2)">导入训练计划套餐</span>
                            </p>
                            <table border="1" bordercolor="#ccc">
                                <thead>
                                <tr>
                                    <td><input type="checkbox" id="checkSetMeal" @click="checkAll(2)"/></td>
                                    <td>序号11</td>
                                    <td>训练时间</td>
                                    <td>课程类型</td>
                                    <td>内容类型</td>
                                    <td>时间（分）</td>
                                    <td>强度</td>
                                    <td>次数</td>
                                    <td>备注</td>
                                </tr>
                                </thead>
                                <tbody id="setMealBody">
                                <tr v-for="(item,index) in SetMealContentInfo">
                                    <td><input type="checkbox" v-model="ids" :value="item.id"/></td>
                                    <td>{{index+1}}</td>
                                    <td>{{item.traningTime}}</td>
                                    <td>{{item.sname}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.time}}</td>
                                    <td>{{item.strength}}</td>
                                    <td>{{item.count}}</td>
                                    <td>{{item.remark}}</td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td><input type="checkbox"/></td>-->
                                    <!--<td>2</td>-->
                                    <!--<td>脚部肌群</td>-->
                                    <!--<td>45°倒登机</td>-->
                                    <!--<td>10</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><input type="checkbox"/></td>-->
                                    <!--<td>3</td>-->
                                    <!--<td>脚部肌群</td>-->
                                    <!--<td>45°倒登机</td>-->
                                    <!--<td>10</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><input type="checkbox"/></td>-->
                                    <!--<td>4</td>-->
                                    <!--<td>脚部肌群</td>-->
                                    <!--<td>45°倒登机</td>-->
                                    <!--<td>10</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><input type="checkbox"/></td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>脚部肌群</td>-->
                                    <!--<td>45°倒登机</td>-->
                                    <!--<td>10</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><input type="checkbox"/></td>-->
                                    <!--<td>6</td>-->
                                    <!--<td>脚部肌群</td>-->
                                    <!--<td>45°倒登机</td>-->
                                    <!--<td>10</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--基础-->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/axios.min.js"></script>
<!--插件-->
<script src="../js/loading.js"></script>
<script src="../js/jedate.js"></script>
<script src="../js/combobox.js"></script>
<script src="../js/common.js"></script>
<script src="../js/dateUtil.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/jquery-confirm.js"></script>
<script src="../js/extendjQuery.js"></script>
<script src="../js/setCookie.js"></script>
<script src="/js/myPagination.js"></script>
<script src="customerTrainingPlan.js"></script>
<script>
    customerTrainingPlan.init();
</script>
<script>
    $('.course').click(function () {
        $('.box').css('display', 'block');
    });

    $('.box .upClose').click(function () {
        $('.box').css('display', 'none');
    });
    $('#addClass').click(function () {
        $('.box').css('display', 'block');
    });
//    $('#customerTrainingPlan .box .tab .toBlue').click(function () {
//        $('.box1').css('display', 'block');
//    });
    $('.box1 .close').click(function () {
        $('.box1').css('display', 'none');
    });
//    $('#customerTrainingPlan .box .tab .toGreen').click(function () {
//        $('.box2').css('display', 'block');
//    });
    $('.box2 .close').click(function () {
        $('.box2').css('display', 'none');
    });
</script>

</html>