<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>身体</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/employee.css">


</head>
<style>
    .form_box_right_cb ul{
        float: left;

    }
</style>
<body>
    <div id="employee">
        <div class="main_top">会员卡设置</div>
        <div class="main_box">
            <div class="common">
                <span class="common_span">添加卡种信息</span>
                <div class="form">
                    <form action="" id="form">
                        <div class="form_box">
                            <div class="form_box_left">卡类别：</div>
                            <div class="form_box_right"><strong id="idck">{{name}}</strong></div>
                        </div>
                        <div class="form_box">
                            <div class="form_box_left">卡种名称：</div>
                            <div class="form_box_right"><input type="text" class="form_box_right_inp" placeholder="卡类名称"></div>
                        </div>

                        <div class="form_box">
                            <div class="form_box_left">卡属性：</div>
                            <div class="form_box_right shuxing">
                                <ul>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="1">
                                            <span>时间卡</span>
                                        </label>

                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="2">
                                            <span>小时卡</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="3">
                                            <span>次卡</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="4">
                                            <span>储值卡</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="5">
                                            <span>充值卡</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="6">
                                            <span>折扣卡</span>
                                        </label>
                                    </li>

                                </ul>
                            </div>

                        </div>
                        <div class="form_box">
                            <div class="form_box_left">会员卡可销售门店：</div>
                            <div class="form_box_right on">
                                <!--<div>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<span>连锁店通用</span>-->
                                    <!--</label>-->
                                    <!--<span class="form_box_right_red on">选择连锁店通用设置，则创建一家新的门店时，无需重新创建</span>-->
                                <!--</div>-->
                                <div class="form_box_right_cb">
                                    <div v-for="tfer in storeList">

                                        <li v-for="(tf,index) in tfer">
                                            <div v-if="index<1">
                                                <label>
                                                    <input type="checkbox">
                                                    <span>{{tf.cityName}}</span>
                                                </label>
                                            </div>
                                            <ul>
                                                <label>
                                                    <input type="checkbox">
                                                    <span :title="''+tf.id">{{tf.shopName}}</span>
                                                </label>
                                            </ul>
                                        </li>

                                    </div>
                                </div>
                                <div>
                                    <li><label>
                                            <input type="checkbox">
                                            <span>全选</span>
                                        </label></li>
                                </div>
                            </div>
                        </div>

                        <div class="form_box">
                            <div class="form_box_left">操作人：</div>
                            <div class="form_box_right"><strong class="form_box_right_red" id="form_box_right_red">Klaus</strong></div>
                        </div>
                        <div class="form_box">
                            <div class="form_box_left">上次操作时间：</div>
                            <div class="form_box_right">{{createTime}}</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main_sub"> <a href="#" class="on" v-on:click="add()">新增</a><a href="#">取消</a></div>
        </div>
    </div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/extendjQuery.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/setCookie.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/loading.js"></script>
<script src="../js/common.js"></script>
<script>
//    var kid = window.parent.getParam('kid');
    var employee = new Vue({
        el: '#employee',
        data: {
            createTime:'',//最后一次添加时间
            name:'',
            storeList:[],
        },
        created:function () {
            var that = this;
            var userName = $.cookie('name');
            $("#form_box_right_red").html(userName);
            Loading.prototype.show();
            var url = $.stringFormat("{0}/frCardType/selectFrCardTypeTime",$.cookie('url'));
            $.get(url, {
                    type:0,
                },
                function(res) {
                    if(res.code == 200) {
                        if(res.data.data.createTime){
                            that.createTime = that.fmtDate(res.data.data.createTime);
                        }

                    } else {
                        alert(res.msg);
                        //$('#tip').text(res.msg);//异常处理
                    }
                    that.selectName();
                    that.selectList();//查询门店列表
                    Loading.prototype.hide();
                }

            );
        },
        methods: {
            add: function () {
                var that = this;
                var type = new Array();//卡类型
                var ids = new Array();
                //添加卡类型属性
                $(".shuxing input:checked").each(function() {
                    //将标签的值放入数组中
                    type.push($(this).attr("value"));
                });

                //添加卡中销售门店
                $(".form_box_right_cb input:checked").each(function() {
                    //将标签的值放入数组中
                    ids.push($(this).next().attr("title"));
                });

                if(ids.length <=0){
                    alert("卡销售门店不能为空");
                    return;
                }
                if(type == '' || type == null || type.length <1){
                    alert("卡属性不能为空");
                    return;
                }
                if(type.length >1){
                    alert("卡属性选择错误，只可选择一个卡种属性");
                    return;
                }
                //获取卡系列id
                var thisUrl = document.URL;
                var pId = thisUrl.split('=')[1];
                var name = $(".form_box_right_inp").val();
                if(name == '' || name==null || name.length<0){
                    alert("卡种名称不能为空")
                    return;
                }
                Loading.prototype.show();
                var createUserName = $.cookie('name');
                var CustomerCode = $.cookie("code");
                var createUserId = $.cookie("id");
                var url = $.stringFormat(
                    "{0}/frCardType/addCurrentFrCardType?type=" +type[0]
                    +"&cardTypeName="+name+"&ids="+ids+"&ty=1&pId="
                    +pId+"&typeSetState=1&createUserName="+createUserName +
                    "&CustomerCode="+CustomerCode+"&createUserId="+createUserId,$.cookie('url'));
                $.ajax({
                    type: "POST",
                    url: url,
//                    data: {username:name, id:Ids,ty:0},
                    dataType: "json",
                    success: function(data){
                        if(data.code == 200) {
                            alert("添加成功！");
                            window.location.reload();
                            window.parent.rightFrame();
                            Loading.prototype.hide();
                        } else {
                            alert(data.msg);
                            Loading.prototype.hide();
                            //$('#tip').text(res.msg);//异常处理
                        }
                    }
                });


            },
            //查询卡系列名称
            selectName:function () {
                var that = this;
                //获取卡系列id
                var thisUrl = document.URL;
                var pId = thisUrl.split('=')[1];
                if(pId.split("#").length>0){
                    pId = pId.split("#")[0];
                }
                Loading.prototype.show();
                var url = $.stringFormat("{0}/frCardType/getFrCardTypeDetails",$.cookie('url'));
                $.get(url, {
                        id:pId,
                    },
                    function(res) {
                        if(res.code == 200) {
                            that.name = res.data.data.cardTypeName;
                            Loading.prototype.hide();
                        } else {
                            alert(res.msg);
                            Loading.prototype.hide();
                            //$('#tip').text(res.msg);//异常处理
                        }

                    }
                );
            },
            //查询所有门店列表
            selectList:function () {
                var that = this;
                            
                Loading.prototype.show();
                var url = $.stringFormat("{0}/shop/getStoreList",$.cookie('url'));
                $.get(url, {
                        type:0,//添加操作
                    },
                    function(res) {
                        if(res.code == 200) {
                            that.storeList = res.data.data.list;
                            Loading.prototype.hide();
                        } else {
                            Loading.prototype.hide();
                            //alert(res.msg);
                            //$('#tip').text(res.msg);//异常处理
                        }

                    }
                );
            },
            //时间戳转指定格式
            fmtDate:function (inputTime) {
                var date = new Date(inputTime);
                var y = date.getFullYear();
                var m = date.getMonth() + 1;
                m = m < 10 ? ('0' + m) : m;
                var d = date.getDate();
                d = d < 10 ? ('0' + d) : d;
                var h = date.getHours();
                h = h < 10 ? ('0' + h) : h;
                var minute = date.getMinutes();
                var second = date.getSeconds();
                minute = minute < 10 ? ('0' + minute) : minute;
                second = second < 10 ? ('0' + second) : second;
                return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
            },

        },
    })
    // employee.yo();
    $(function () {


    })
</script>

</html>