<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>身体</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main.css">


</head>
<style>
    .form_box_right_cb ul{
        float: left;

    }
</style>
<body>
    <div id="main">
        <div class="main_top">会员卡设置</div>
        <div class="main_box">
            <div class="common">
                <span class="common_span">添加卡系列</span>
                <div class="form">
                    <form action="" id="form">
                        <div class="form_box">
                            <div class="form_box_left">可使用门店：</div>
                            <div class="form_box_right on">
                                <div> <label>
                                        <input type="checkbox">
                                        <span>连锁店通用</span>
                                    </label> <span class="form_box_right_red on">选择连锁店通用设置，则创建一家新的门店时，无需重新创建</span></div>
                                <div class="form_box_right_cb">
                                    <div v-for="tfer in storeList">


                                            <li v-for="(tf,index) in tfer" id="shopCheck">
                                                <div v-if="index<1">
                                                    <label>
                                                        <input type="checkbox" v-bind:name="tf.cityId" @click="check2(tf.cityId)">
                                                        <span>{{tf.cityName}}</span>
                                                    </label>
                                                </div>
                                                <ul>
                                                <label>
                                                    <input type="checkbox" v-bind:name="tf.cityId+1">
                                                    <span :title="''+tf.id">{{tf.shopName}}</span>
                                                </label>
                                                </ul>
                                            </li>

                                    </div>
                                </div>
                                <div><label>
                                    <input type="checkbox"id="pcheckbox" @click="queryAll">
                                        <span>全选</span>
                                    </label></div>
                            </div>
                        </div>
                        <div class="form_box">
                            <div class="form_box_left">卡类别名称：</div>
                            <div class="form_box_right"><input type="text" class="form_box_right_inp" placeholder="添加卡类别名称"></div>

                        </div>
                        <div class="form_box">
                            <div class="form_box_left">操作人：</div>
                            <div class="form_box_right"><strong class="form_box_right_red">Klaus</strong></div>
                        </div>
                        <div class="form_box">
                            <div class="form_box_left">上次操作时间：</div>
                            <div class="form_box_right">{{times}}</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main_sub xinzheng"> <a href="#" class="on" v-on:click="add()">新增</a><a href="#">取消</a></div>
            <!--<div class="common yuangong">-->
                <!--<span class="common_span">员工卡设置(系统启用员工卡之后，每创建一个员工就给予生成对应的员工用卡)</span>-->
                <!--<div class="form">-->
                    <!--<form action="" id="form2">-->
                        <!--<div class="form_box">-->
                            <!--<div class="form_box_left">启用员工卡门店:</div>-->
                            <!--<div class="form_box_right on">-->
                                <!--<div class="form_box_right_cb">-->
                                    <!--<div><label>-->
                                            <!--<input type="checkbox">-->
                                            <!--<span>软件园店</span>-->
                                        <!--</label></div>-->
                                    <!--<ul>-->
                                        <!--<li><label>-->
                                                <!--<input type="checkbox">-->
                                                <!--<span>软件园店</span>-->
                                            <!--</label></li>-->
                                    <!--</ul>-->
                                    <!--<div><label>-->
                                            <!--<input type="checkbox">-->
                                            <!--<span>软件园店</span>-->
                                        <!--</label></div>-->
                                    <!--<ul>-->
                                        <!--<li><label>-->
                                                <!--<input type="checkbox">-->
                                                <!--<span>软件园店</span>-->
                                            <!--</label></li>-->
                                        <!--<li><label>-->
                                                <!--<input type="checkbox">-->
                                                <!--<span>软件园店</span>-->
                                            <!--</label></li>-->
                                    <!--</ul>-->
                                    <!--<div><label>-->
                                            <!--<input type="checkbox">-->
                                            <!--<span>软件园店</span>-->
                                        <!--</label></div>-->
                                    <!--<ul>-->
                                        <!--<li><label>-->
                                                <!--<input type="checkbox">-->
                                                <!--<span>软件园店</span>-->
                                            <!--</label></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                                <!--<div><label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<span>全选</span>-->
                                    <!--</label></div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="main_sub yuangong"> <a href="#" class="on">保存</a></div>-->
        </div>
    </div>
    <div class="maskLayer"></div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/extendjQuery.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script src="../js/setCookie.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/loading.js"></script>
<script src="../js/common.js"></script>
<script>
    var kid = window.parent.getParam('kid');
    var main = new Vue({
        el: '#main',
        data: {
            storeList:[],//门店列表
            times:'',//上次操作时间
            updateName:'',//操作人姓名
            url:''
        },
        created:function () {
            var that = this;
            var userName = $.cookie('name');
            $(".form_box_right_red").html(userName);
            //that.url = $.stringFormat("{0}/JiejingMerchantLogins/GetJiejingMerchantLogin", $.cookie("url"));
            var url = $.stringFormat("{0}/shop/getStoreList",$.cookie('url'));
            Loading.prototype.show();
            $.get(url, {
                type:0,//添加操作
                },
                function(res) {
                    if(res.code == 200) {
                        that.storeList = res.data.data.list;
                        if(res.data.data.time.createTime){
                            that.times = that.fmtDate(res.data.data.time.createTime);
                            Loading.prototype.hide();
                        }

                    } else {
                        //alert(res.msg);
                        //$('#tip').text(res.msg);//异常处理
                    }

                }
            );
            //获取当前登入用户并赋值姓名

        },
        methods: {
            add: function () {
                var that = this;
                var Ids = new Array();
                $(".form_box_right_cb input:checked").each(function() {
                    //将标签的值放入数组中
                    Ids.push($(this).next().attr("title"));
                });
                if(Ids.length <1){
                    alert("可用门店不能为空");
                    return;
                }
                //卡名称
                var name = $(".form_box_right_inp").val();
                if(name.length <1 || name == '' || name == null){
                    alert("门店名不能为空");
                    return;
                }
                var createUserName = $.cookie('name');
                var CustomerCode = $.cookie("code");
                var createUserId = $.cookie("id");
                var url = $.stringFormat(
                    "{0}/frCardType/addFrCardType?cardTypeName="
                    +name+"&ids="+Ids+"&ty=0&typeSetState=2&createUserName="+createUserName
                    +"&CustomerCode="+CustomerCode+"&createUserId="+createUserId,$.cookie('url'));
                Loading.prototype.show();
                $.ajax({
                    type: "POST",
                    url: url,
//                    data: {username:name, id:Ids,ty:0},
                    dataType: "json",
                    success: function(data){
                        if(data.code == 200) {
                            alert("添加成功！");
                            window.location.reload()
                            window.parent.rightFrame();
                            Loading.prototype.hide();
                        } else {
                            Loading.prototype.hide();
                            //alert(res.msg);
                            //$('#tip').text(res.msg);//异常处理
                        }
                    }
                });

            },
            //时间戳转指定格式
            fmtDate:function (inputTime) {
                var date = new Date(inputTime);
                var y = date.getFullYear();
                var m = date.getMonth() + 1;
                m = m < 10 ? ('0' + m) : m;
                var d = date.getDate();
                d = d < 10 ? ('0' + d) : d;
                var h = date.getHours();
                h = h < 10 ? ('0' + h) : h;
                var minute = date.getMinutes();
                var second = date.getSeconds();
                minute = minute < 10 ? ('0' + minute) : minute;
                second = second < 10 ? ('0' + second) : second;
                return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
            },
//全选,取消
            //全选,取消
            queryAll: function () {
                var thisChecked = $("#pcheckbox").prop('checked');
                $("#shopCheck input[type='checkbox']").each(function () {
                    $(this).prop("checked", thisChecked);
                })
            },
            //市级全选,取消
            check2: function (index) {
                var thisChecked = $("input[name="+index+"]").prop('checked');
                console.log(thisChecked)
                $("input[name="+index+'1'+"]").prop("checked",thisChecked);
            },
        },
    })
    // main.yo();
//    if(kid=="main"||kid=="mains"){
//        $('.xinzheng .on').html('修改');
//    }
//    if(kid=="mains"){
//         $('.yuangong').show()
//    }
    
</script>

</html>